<div class="container mt-5">
    <div class="row align-items-center">
        <!-- First block -->
        <div class="col-md-6 text-block text-center text-md-start mb-5 mb-md-0">
            <h1>{{ 'Home.Title' | translate }}</h1>
            <div class="d-flex flex-row justify-content-center justify-content-md-start">
                <h4 *ngFor="let tag of tags">
                    <span class="badge me-4">{{ tag }}</span>
                </h4>
            </div>
            <p>{{ 'Home.WelcomeParagraph1' | translate }}</p>
            <p>{{ 'Home.WelcomeParagraph2' | translate }}</p>
            <button type="button" class="btn btn-lg btn-important" routerLink="/job/job-offers">
                <i class="fa-solid fa-magnifying-glass"></i>
                {{ 'Home.SearchJobsButton' | translate }}
            </button>
        </div>
        <!-- Second block -->
        <div class="col-md-6 image-block">
            <img src="assets\images\supporting-business-person-svgrepo-com.svg" alt="Description of Image" class="img-fluid">
        </div>
    </div>
</div>