<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'Login.Modal.Title' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <app-email-input [form]="loginForm"></app-email-input>
        <!-- Password -->
         <div class="row mb-3">
            <div class="col-12">
                <app-password-input [form]="loginForm"></app-password-input>
            </div>
         </div>
        <!-- Login button -->
        <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-50" [disabled]="isLoading">
                <i class="me-2"
                    [ngClass]="{'fa fa-spin fa-spinner': isLoading, 'fa-solid fa-right-to-bracket': !isLoading }"></i>
                {{ 'Login.Modal.Body.Form.SubmitButton' | translate }}
            </button>
        </div>
    </form>
</div>