<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'Login.Modal.Title' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')">
        <!-- <i class="fa-solid fa-xmark fa-lg"></i> -->
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <be-email-input [form]="loginForm" />
        <!-- Password -->
         <div class="row mb-3">
            <div class="col-12">
                <app-password-input [form]="loginForm" />
            </div>
         </div>
        <!-- Login button -->
         <div class="row d-flex justify-content-center mb-3">
            <div class="col-6">
                <app-login-button [isLoading]="isLoading" />
            </div>
         </div>
    </form>
</div>