<div class="row">
    <div class="col-md-9">

        @if (isLoading) {
        <be-loader />
        } @else {
        <form [formGroup]="aboutYouForm" (ngSubmit)="saveProfile()">
            <!-- Profile title -->
            <div class="row mt-3">
                <div class="col-md-12 profile-picture-section">
                    <div>
                        <img [src]="profilePicture" class="img-thumbnail mb-2">

                        <!-- Custom button to trigger file input -->
                        <button type="button" class="btn btn-primary btn-md mt-2 ms-3 me-3" (click)="fileInput.click()">
                            <i class="fa-solid fa-image me-2"></i>
                            {{ 'Representative.Profile.ChoosePicture' | translate }}
                        </button>

                        <!-- Button to remove current image -->
                        <button type="button" class="btn btn-danger btn-md mt-2" (click)="removeImage()"
                            *ngIf="profilePicture && !defaultProfilePicture">
                            {{ 'Representative.Profile.Remove' | translate }}
                        </button>

                        <!-- Hidden file input element -->
                        <input type="file" #fileInput (change)="onFileSelected($event)" class="display-none">
                    </div>

                </div>
            </div>
            <!-- Full name  -->
            <div class="row mt-3">
                <app-full-name-input [form]="aboutYouForm" />
            </div>
            <!-- Email -->
            <div class="row mt-3">
                <div class="col-md-6">
                    <be-email-input [form]="aboutYouForm" />
                </div>
                <div class="col-md-6">
                    <be-text-float-input [form]="aboutYouForm" [controlName]="'position'" [id]="'inputPosition'"
                        [label]="'Representative.Profile.Position'" [hasIcon]="true"
                        [iconClass]="'fa-regular fa-address-card'" />
                </div>
            </div>
            <!-- Save button -->
            <div class="row mt-3">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary w-25" [disabled]="isSaving">
                        <i class="me-2"
                            [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-floppy-disk': !isSaving }"></i>
                        {{ 'BUTTON.SAVE' | translate }}
                    </button>
                </div>
            </div>
        </form>
        }
    </div>
</div>