@import '../../../../assets/styles/styles-variables.scss';

.stepper {
    gap: 0.5rem;
    overflow-x: auto;
    padding-bottom: 0.25rem;

    .step {
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $third-color;

        i {
            color: $text-color;
        }

        &.active {
            background-color: $accent-color;

            // inner circle
            &::after {
                content: '';
                width: 12px;
                height: 12px;
                background-color: $text-color; // or white
                border-radius: 50%;
                position: absolute;
            }
        }

      
    }

    .line {
        background-color: $third-color;
        flex: 1 1 100px;
        min-width: 32px;
        max-width: 100px;
        height: 2px;

        &.active {
            background-color: $third-color;
        }

        &.completed {
            background-color: $success-color;
        }
    }
}
