@import '../../../../assets/styles/styles-variables.scss';

.stepper {
    .step {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $third-color;

        i {
            color: $text-color;
        }

        &.active {
            background-color: $accent-color;

            // inner circle
            &::after {
                content: '';
                width: 12px;
                height: 12px;
                background-color: $text-color; // or white
                border-radius: 50%;
                position: absolute;
            }
        }

        &.completed {
            background-color: $success-color;
        }
    }

    .line {
        background-color: $third-color;
        width: 100px;
        height: 2px;

        &.active {
            background-color: $third-color;
        }

        &.completed {
            background-color: $success-color;
        }
    }
}