<footer class="py-4 mt-5">
  <div class="container container-card rounded-4 shadow-sm py-4 px-5">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="mb-3">
          <span class="fs-2 fw-bold">
            <!-- Logo -->
            <a class="logo ps-3" routerLink="/home">
              <span>
                <img src="../../../../assets/images/logo/website-logo.png">
              </span>
            </a>

          </span>
        </div>
        <div class="mb-2 fw-bold">{{ 'Footer.AddressLabel' | translate }}</div>
        <div class="mb-3">{{ 'Footer.Address' | translate }}</div>
        <div class="mb-2 fw-bold">{{ 'Footer.ContactLabel' | translate }}</div>
        <div class="mb-3" [innerHTML]="'Footer.Contact' | translate"></div>
        <div>
          <a href="#" class="static-link me-2"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="#" class="static-link me-2"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#" class="static-link me-2"><i class="fab fa-x-twitter fa-lg"></i></a>
          <a href="#" class="static-link me-2"><i class="fab fa-linkedin fa-lg"></i></a>
          <a href="#" class="static-link"><i class="fab fa-youtube fa-lg"></i></a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-6 col-lg-4 mb-2">
            <div class="fw-bold mb-2">{{ 'Footer.Links.JobListings' | translate }}</div>
            <div class="fw-bold mb-2">{{ 'Footer.Links.AboutUs' | translate }}</div>
            <div class="fw-bold mb-2">{{ 'Footer.Links.ContactSupport' | translate }}</div>
            <div class="fw-bold mb-2">{{ 'Footer.Links.CareerAdvice' | translate }}</div>
            <div class="fw-bold mb-2">{{ 'Footer.Links.UserGuide' | translate }}</div>
          </div>
          <div class="col-6 col-lg-4 mb-2">
            <div class="fw-bold mb-2">{{ 'Footer.Links.BlogPosts' | translate }}</div>
            <div class="fw-bold mb-2">{{ 'Footer.Links.FAQs' | translate }}</div>
            <div class="fw-bold mb-2">{{ 'Footer.Links.SuccessStories' | translate }}</div>
            <div class="fw-bold mb-2">{{ 'Footer.Links.CommunityForum' | translate }}</div>
            <div class="fw-bold mb-2">{{ 'Footer.Links.FeedbackForm' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center mt-3">
    <div class="row">
      <div class="col-12">
        <small>{{ 'Footer.Copyright' | translate }}</small>
      </div>
      <div class="col-12 mt-2">
        <a href="#" class="static-link me-3">{{ 'Footer.Legal.PrivacyPolicy' | translate }}</a>
        <a href="#" class="static-link me-3">{{ 'Footer.Legal.TermsOfService' | translate }}</a>
        <a href="#" class="static-link">{{ 'Footer.Legal.CookiesSettings' | translate }}</a>
      </div>
    </div>
  </div>
</footer>
