<div class="container-fluid col-lg-8 col-md-10 col-12 mt-5 p-3">

    <div class="row mt-3">
        <div class="col-md-3">
            <ul class="nav flex-column">
                <!-- Profile -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="about-you" routerLinkActive="active">
                        <i class="fa-solid fa-circle-info me-2"></i>
                        {{ 'Profile.Sections.AboutYou' | translate }}
                    </a>
                </li>
                <!-- Job Management -->
                <li class="nav-item">
                    <h6 class="nav-header">
                        {{ 'Profile.Headers.JobManagement' | translate }}
                    </h6>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="job-application" routerLinkActive="active">
                        <i class="fa-solid fa-bullhorn me-2"></i>
                        {{ 'Profile.Sections.JobApplications' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="saved-jobs" routerLinkActive="active">
                        <i class="fa-solid fa-bookmark me-2"></i>
                        {{ 'Profile.Sections.SavedJobs' | translate }}
                    </a>
                </li>
                <!-- Account & Security -->
                <li class="nav-item">
                    <h6 class="nav-header">
                        {{ 'Profile.Headers.AccountSecurity' | translate }}
                    </h6>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="settings" routerLinkActive="active">
                        <i class="fa-solid fa-gear me-2"></i>
                        {{ 'Profile.Sections.Settings' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="study" routerLinkActive="active">
                        <i class="fa-solid fa-shield-halved me-2"></i>
                        {{ 'Profile.Sections.Secruity' | translate }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>

<!-- Talent Preview Modal -->
<ng-template #previewTalentContent let-c="close" let-d="dismiss">
    <app-talent-preview-modal [closeModal]="c" [dismissModal]="d">
    </app-talent-preview-modal>
</ng-template>