@if (isLoading) {
<app-loader />
} @else {
<div class="row">
    <div class="col-md-2 profile-picture-section">
        <img [src]="profilePicture" class="img-thumbnail mb-2">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    {{ currentTalent?.firstName }}, {{ currentTalent?.lastName }}
                </h3>
                <h5>
                    {{ currentTalent?.profileTitle }}
                </h5>
                <h6>
                    <i class="fa-solid fa-location-dot me-1 opacity-75"></i>
                    @if(currentTalent?.city) {
                    {{ currentTalent?.city || null | geoName | async }},
                    }
                    @if (currentTalent?.region) {
                    {{ currentTalent?.region || null | geoName | async }},
                    }
                    {{ currentTalent?.country || '' | countryName }}
                    @if (!(currentTalent?.city && currentTalent?.region && currentTalent?.country)) {
                    {{ 'Talent.EditProfile.AddressNotSpecified' | translate }}
                    }
                </h6>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-md mt-2 ms-3 me-3"
                    (click)="openEditProfileModal(addEditProfileContent)">
                    <i class="fa-solid fa-user-pen me-2"></i>
                    {{ 'Talent.Profile.EditProfile' | translate }}
                </button>
                <button type="button" class="btn btn-light btn-md mt-2"
                    (click)="openTalentPreviewModal(previewTalentContent)">
                    <i class="fa-solid fa-magnifying-glass me-2"></i>
                    {{ 'Talent.Profile.ViewProfile' | translate }}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p *ngIf="currentTalent?.summary">
                    {{ isSummaryExpanded ? currentTalent?.summary : (currentTalent?.summary | slice:0:150) + '...'
                    }}
                    <a *ngIf="hasLongSummary" class="static-link"
                        (click)="this.isSummaryExpanded = !this.isSummaryExpanded">
                        {{ isSummaryExpanded ? 'Less' : 'More' }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Educations & Experiences Tabs -->
<div class="row">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
        <ng-container ngbNavItem>
            <a ngbNavLink>
                <i class="fa-solid fa-star me-2"></i>
                {{ 'Talent.Profile.Experiences' | translate }}
            </a>
            <ng-template ngbNavContent>
                <app-experience></app-experience>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
            <a ngbNavLink>
                <i class="fa-solid fa-graduation-cap me-2"></i>
                {{ 'Talent.Profile.Educations' | translate }}
            </a>
            <ng-template ngbNavContent>
                <app-education></app-education>
            </ng-template>
        </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
}

<!-- Edit Profile Modal -->
<ng-template #addEditProfileContent let-c="close" let-d="dismiss">
    <app-edit-profile-modal [closeModal]="c" [dismissModal]="d" (modalActionComplete)="modalActionComplete($event)">
    </app-edit-profile-modal>
</ng-template>

<!-- Talent Preview Modal -->
<ng-template #previewTalentContent let-c="close" let-d="dismiss">
    <app-talent-preview-modal [closeModal]="c" [dismissModal]="d" [selectedTalent]="currentTalent">
    </app-talent-preview-modal>
</ng-template>