<!-- Loading -->
@if (isLoading) {
<be-loader />
} @else {
<div class="row mb-3">
    <div class="col-md-6 d-flex justify-content-start">
        <button class="btn btn-primary" (click)="goBack()">
            <i class="fa-solid fa-arrow-left me-2"></i>
            {{ 'BUTTON.BACK' | translate }}
        </button>
    </div>

    <div class="col-md-6 d-flex justify-content-end">

        <div ngbDropdown class="d-inline-block">
            <button type="button" id="dropdownBasic" ngbDropdownToggle>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                <button type="button" class="btn btn-link" ngbDropdownItem
                    (click)="openJobOfferModal(previewJobOfferContent)" [disabled]="isLoading">
                    <i class="fa-solid fa-eye me-2"></i>
                    Preview Job Offer
                </button>
                <button type="button" class="btn btn-link" ngbDropdownItem
                    (click)="openJobOfferModal(updateJobOfferContent)" [disabled]="isLoading">
                    <i class="fa-solid fa-pen me-2"></i>
                    Edit Job Offer
                </button>
                <button type="button" class="btn btn-link" ngbDropdownItem
                    (click)="openDeleteModal(deleteJobOfferContent)" [disabled]="isLoading">
                    <i class="fa-solid fa-trash me-2"></i>
                    Delete Job Offer
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5>{{ jobOffer.title }}</h5>
        <p>
            <strong>{{ 'Recruiter.JobOffer.Card.Company' | translate }} </strong>
            {{ jobOffer.companyName }}<br>
            <strong>{{ 'Recruiter.JobOffer.Card.Location' | translate }} </strong>
            {{ jobOffer.location }}<br>
            <strong>{{ 'Recruiter.JobOffer.Card.Salary' | translate }}</strong>
            {{ jobOffer.salary }}<br>
        </p>
    </div>
</div>
<div class="row">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
        <ng-container ngbNavItem>
            <a ngbNavLink>
                <i class="fa-solid fa-clipboard me-2"></i>
                Descriptions
            </a>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col-12">
                        {{ 'JobOffers.JobDetails.Description' | translate }}
                        <p class="text-area" [innerHTML]="jobOffer.description | sanitizedHtml"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ 'JobOffers.JobDetails.PositionDetails' | translate }}
                        <p class="text-area" [innerHTML]="jobOffer.positionDetails | sanitizedHtml"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ 'JobOffers.JobDetails.Qualifications' | translate }}
                        <p class="text-area" [innerHTML]="jobOffer.qualifications | sanitizedHtml"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ 'JobOffers.JobDetails.AdditionalRequirements' | translate }}
                        <p class="text-area" [innerHTML]="jobOffer.additionalRequirements | sanitizedHtml"></p>
                    </div>
                </div>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem>
            <a ngbNavLink>
                <i class="fa-solid fa-user-group me-2"></i>
                Job Applications
            </a>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end">

                        <div ngbDropdown class="d-inline-block">
                            <button type="button" id="dropdownBasic" ngbDropdownToggle>
                                <i class="fa-solid fa-filter me-2"></i>
                                Filter
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                                <form [formGroup]="filterForm" class="d-flex flex-column gap-2">
                                    <!-- STATUSES -->
                                    <label class="form-check status-label" *ngFor="let status of statuses">
                                        <input type="checkbox" class="form-check-input cursor-pointer" [formControlName]="status" />
                                        <span class="form-check-label">
                                            {{ ('Enum.JobApplicationStatus.' + status) | translate }}
                                        </span>
                                    </label>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- No job applications -->
                @if (jobOffer.jobApplications.length === 0) {
                <div class="empty-list row d-flex justify-content-center align-items-center flex-column">
                    <div class="col-6">
                        <h5 class="text-center">
                            {{ 'Recruiter.JobApplication.NoJobApplicationMessage' | translate }}
                        </h5>
                    </div>
                </div>
                }
                @else {
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{{ 'Recruiter.JobApplication.Table.FullName' | translate }}</th>
                                    <th scope="col">{{ 'Recruiter.JobApplication.Table.AppliedAt' | translate }}</th>
                                    <th scope="col">{{ 'Recruiter.JobApplication.Table.Status' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                @for (jobApplication of filteredJobApplications; track jobApplication.id; let i =
                                $index) {
                                <tr
                                    (click)="openJobApplicationDetailsModal(jobApplicationDetailsContent, jobApplication)">
                                    <th scope="row">
                                        {{ i + 1 }}
                                    </th>
                                    <td>
                                        @if (jobApplication.isExpress) {
                                        {{ jobApplication.expressApplication?.lastName }} {{
                                        jobApplication.expressApplication?.firstName }}
                                        } @else {
                                        {{ jobApplication.talentFullName }}
                                        }
                                    </td>
                                    <td>
                                        {{ jobApplication.appliedAt | date:'yyyy-MM-dd HH:mm:ss' }}
                                    </td>
                                    <td>
                                        <span class="badge rounded-pill"
                                            [ngClass]="getStatusClass(jobApplication.status)">
                                            {{ 'Enum.JobApplicationStatus.' +
                                            getJobApplicationStatus(jobApplication.status) |
                                            translate }}
                                        </span>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                }
            </ng-template>
        </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
}

<!-- Job offer preview modal -->
<ng-template #previewJobOfferContent let-c="close" let-d="dismiss">
    <app-job-offer-preview-modal [closeModal]="c" [dismissModal]="d" [selectedJobOffer]="jobOffer" />
</ng-template>

<!-- Job offer edit modal -->
<ng-template #updateJobOfferContent let-c="close" let-d="dismiss">
    <app-job-offer-modal [closeModal]="c" [dismissModal]="d" [selectedJobOffer]="jobOffer"
        (modalActionComplete)="modalActionComplete($event)" />
</ng-template>

<!-- Job offer delete modal -->
<ng-template #deleteJobOfferContent let-modal>
    <app-delete-job-offer-modal [selectedJobOffer]="jobOffer" [closeModal]="modal.close" [dismissModal]="modal.dismiss"
        (modalActionComplete)="modalActionComplete($event)" />
</ng-template>

<!-- Job application details  Modal -->
<ng-template #jobApplicationDetailsContent let-c="close" let-d="dismiss">
    <app-job-application-details-modal [closeModal]="c" [dismissModal]="d" [selectedTalentId]="selectedTalentId"
        [jobApplication]="selectedJobApplication" (modalActionComplete)="jobApplicationDetailsModalCloased($event)" />
</ng-template>