<nav class="navbar navbar-expand navbar-simplified">

    <!-- Logo -->
    <a class="navbar-brand ps-3" routerLink="/home">
        Busyness
    </a>

    <!-- Navbar menu items for larger screens -->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
        </ul>

        <!-- Language Buttons -->
        <img class="language-button ms-3 me-3" *ngIf="translate.currentLang == 'fr'"
            src="assets\images\flags\uk.svg" width="20" (click)="changeLanguage()">
        <img class="language-button ms-3 me-3" *ngIf="translate.currentLang == 'en'"
            src="assets\images\flags\france.svg" width="20" (click)="changeLanguage()">
    </div>

</nav>