
@import '../../../../assets/styles/styles-variables.scss';

.step-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 1.2rem;

    &.active {
        transition: color 0.3s ease;

        &:hover {
            cursor: pointer;

            i {
                color: $accent-color;
            }
        }
    }

}