@import '../src/assets/styles/styles-variables.scss';
@import '../node_modules/quill/dist/quill.snow.css';

body {
    background-color: $primary-color;
    color: $text-color;
}

.container-card {
    background-color: $secondary-color !important;
    color: $text-color !important;
}

// Style modal
.modal-content {
    background-color: $third-color;

    .modal-header {
        border-bottom: none;
    }
}

.form-control {
    background-color: $third-color;
    color: $text-color;

    &:focus {
        background-color: $third-color;
        color: $text-color;
        box-shadow: unset;
        border: 1px solid #dee2e6;
    }

    // Autofill override
    &:-webkit-autofill,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:hover {
        -webkit-box-shadow: 0 0 0 1000px $third-color inset !important;
        box-shadow: 0 0 0 1000px $third-color inset !important;
        -webkit-text-fill-color: $text-color !important;
        caret-color: $text-color !important;
    }
}

.form-floating {
    .form-label {
        color: $text-color !important;

        &::after {
            background-color: $third-color !important;
        }
    }
}


.btn.btn-primary {
    background-color: $secondary-color;
    transition: all 0.3s ease;
    border: unset;

    &:hover,
    &:active {
        background-color: $accent-color !important;
        color: #ffffff !important;
        border-color: transparent !important;
    }

    &:disabled,
    .btn.disabled {
        opacity: 0.5;
        background-color: $secondary-color;
        color: #ffffff;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }

    &:focus-visible {
        background-color: $secondary-color;
        color: #ffffff;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }
}

.btn-important {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);

    &:hover,
    &:active {
        background-color: $accent-color !important;
        transform: translateY(-1px);
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    }
}

.btn-close:focus {
    box-shadow: unset;
}

.badge.bg-custom {
    background-color: $secondary-color;
    color: #ffffff;
    user-select: none;
}

// We don't use href proprety on a element, so we don't have the cursor
a {
    cursor: pointer;
}

// Style input that has icon on their left
.input-with-icon {

    &.input-group {
        transition: all 0.3s ease;

        &:focus-within {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
            border-radius: 6px;
        }

        .input-group-text {
            background-color: $primary-color;
        }

        input {
            &.form-control {
                border-left: none;
            }

            // Remove bootstrap focus style on input
            &:focus {
                box-shadow: unset;
                border: 1px solid #dee2e6;
                border-left: unset;
            }
        }

    }
}

// Style input that is used for password type
.password-input {

    &.input-group {
        transition: all 0.3s ease;

        &:focus-within {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
            border-radius: 6px;
        }

        input {
            &.form-control {
                border-right: none;
            }

            // Remove bootstrap focus style on input
            &:focus {
                box-shadow: unset;
                border: 1px solid #dee2e6;
                border-right: unset;
            }
        }

        .input-group-text {
            background-color: $third-color;
            color: $text-color;
            cursor: pointer;
        }

        // Incrument z-index so it can be visible when the password-input is focused
        label {
            z-index: 6;
        }

    }
}

.datepicker-input {

    &.input-group {
        transition: all 0.3s ease;

        &:focus-within {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
            border-radius: 6px;
        }

        input {
            &.form-control {
                border-right: none;
            }

            // Remove bootstrap focus style on input
            &:focus {
                box-shadow: unset;
                border: 1px solid #dee2e6;
                border-right: unset;
            }
        }

        .input-group-text {
            background-color: white;
        }

    }
}

.language-button {
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: scale(1.2) rotate(10deg);
    }

    &:active {
        transform: scale(0.9);
        box-shadow: none;
    }
}

// card style
.card-body {
    background-color: $secondary-color;
    color: $text-color;
}