@import '../src/assets/styles/styles-variables.scss';
@import '../node_modules/quill/dist/quill.snow.css';

* {
    box-sizing: border-box;
    font-family: "Alan Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: $primary-color;
    color: $text-color;
}

// Containers
.dashboard-container {
    background-color: white;
    height: 87vh;
    border-radius: 5px;
    background-color: $secondary-color !important;
    color: $text-color !important;
}

.container-card {
    background-color: $secondary-color !important;
    color: $text-color !important;
}

// Modal style
.modal-content {
    background-color: $secondary-color;

    .modal-header {
        border-bottom: none;

        .btn-close {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23ffffff' d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.`a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
            width: 2rem;
            height: 2rem;
            background-size: 1.5rem;
            background-repeat: no-repeat;
            background-position: center;
            color: transparent;
            opacity: 1;
        }

        .btn-close:hover {
            opacity: 0.8;
            transform: scale(1.1);
            transition: transform 0.2s ease;
        }
    }
}

// Form control style
.form-control {
    background-color: $secondary-color;
    color: $text-color;

    &:focus {
        background-color: $secondary-color;
        color: $text-color;
        box-shadow: unset;
        border: 1px solid #dee2e6;
    }

    // Autofill override
    &:-webkit-autofill,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:hover {
        -webkit-box-shadow: 0 0 0 1000px $secondary-color inset !important;
        box-shadow: 0 0 0 1000px $secondary-color inset !important;
        -webkit-text-fill-color: $text-color !important;
        caret-color: $text-color !important;
    }

    &::placeholder {
        color: $text-color;
        opacity: 0.5
    }

    &:disabled {
        background-color: $fourth-color;
        opacity: 0.5;
        color: $text-color;
    }
}

// Form floating label style
.form-floating {
    .form-label {
        color: $text-color !important;

        &::after {
            background-color: $secondary-color !important;
        }
    }
}

.form-select {
    background-color: $secondary-color;
    color: $text-color;
    // Make the arrow white
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

    &:disabled {
        background-color: inherit;
        opacity: 0.8;
        cursor: not-allowed !important;
    }

    &:hover {
        cursor: pointer;
    }
}

// Button style
.btn.btn-primary {
    background-color: $third-color;
    transition: all 0.3s ease;
    border: unset;

    &:hover,
    &:active {
        background-color: $accent-color !important;
        color: #ffffff !important;
        border-color: transparent !important;
    }

    &:disabled,
    .btn.disabled {
        opacity: 0.5;
        background-color: $third-color;
        color: #ffffff;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }

    &:focus-visible {
        background-color: $third-color;
        color: #ffffff;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }
}

// Important button style
.btn-important {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);

    &:hover,
    &:active {
        background-color: $accent-color !important;
        transform: translateY(-1px);
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    }
}

// Close button style
.btn-close:focus {
    box-shadow: unset;
}

// Badge style
.badge.bg-custom {
    background-color: $fourth-color;
    color: $text-color;
    user-select: none;
}


// Style input that has icon on their left
.input-with-icon {

    &.input-group {
        transition: all 0.3s ease;

        &:focus-within {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
            border-radius: 6px;
        }

        .input-group-text {
            background-color: $primary-color;
        }

        input {
            &.form-control {
                border-left: none;
            }

            // Remove bootstrap focus style on input
            &:focus {
                box-shadow: unset;
                border: 1px solid #dee2e6;
                border-left: unset;
            }
        }

    }
}

// Password input style
.password-input {

    &.input-group {
        transition: all 0.3s ease;

        &:focus-within {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
            border-radius: 6px;
        }

        input {
            &.form-control {
                border-right: none;
            }

            // Remove bootstrap focus style on input
            &:focus {
                box-shadow: unset;
                border: 1px solid #dee2e6;
                border-right: unset;
            }
        }

        .input-group-text {
            background-color: $secondary-color;
            color: $text-color;
            cursor: pointer;
        }

        // Incrument z-index so it can be visible when the password-input is focused
        label {
            z-index: 6;
        }

    }
}

// Datepicker input style
.datepicker-input {

    &.input-group {
        transition: all 0.3s ease;

        &:focus-within {
            color: var(--bs-body-color);
            background-color: var(--bs-body-bg);
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
            border-radius: 6px;
        }

        input {
            &.form-control {
                border-right: none;
            }

            // Remove bootstrap focus style on input
            &:focus {
                box-shadow: unset;
                border: 1px solid #dee2e6;
                border-right: unset;
            }
        }

        .input-group-text {
            background-color: $secondary-color;

            i::before {
                color: $text-color;
            }
        }

    }
}

// Language button style
.language-button {
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        transform: scale(1.2) rotate(10deg);
    }

    &:active {
        transform: scale(0.9);
        box-shadow: none;
    }
}

// card style
.card {
    .card-body {
        background-color: $secondary-color;
        color: $text-color;
        border-radius: 6px;

        .card-btn {
            position: absolute;
            cursor: pointer;

            &.update-btn {
                top: 15px;
                right: 60px;
            }

            &.delete-btn {
                top: 15px;
                right: 20px;
            }

            &:hover {
                color: $accent-color;
            }
        }
    }
}

// Accordion style
.accordion {
    .accordion-item {
        background-color: $secondary-color;
        color: $text-color;

        .accordion-button {
            background-color: $secondary-color;
            color: $text-color;

            // Remove the default icon
            &::after {
                display: none !important;
            }
        }
    }
}

// Dashboard navigation style
.dashboard-nav {

    .nav-link {
        font-weight: 400;
        color: $text-color;

        &.active {
            background-color: rgba(0, 153, 204, 0.2);
            border-radius: 5px;
            color: $text-color;
        }
    }
}

// boostrap table style
.table {

    th,
    td {
        background-color: $secondary-color;
        color: $text-color;
    }

    // Hover effect style
    &.table-hover tbody tr:hover>* {
        background-color: $third-color !important;
        cursor: pointer;
    }

    // If you want to customize the active row color
    .table-active {
        --bs-table-bg-state: #{$third-color};
    }
}

// Nav tab style
.nav-tabs {
    .nav-link.nav-item {
        color: $text-color;
    }

    .nav-link.nav-item.active {
        background-color: $secondary-color;
        color: $accent-color;
        border-color: $accent-color;
    }
}

// Links
a {
    // We don't use href proprety on a element, so we don't have the cursor
    cursor: pointer;

    &.static-link {
        color: $accent-color !important;
        text-decoration-color: $accent-color !important;

        &:hover {
            opacity: 0.8;
        }
    }

}

// Website logo style
.logo {
    span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        overflow: hidden;
    }

    img {
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}

// Action icon style
.action-icon {
    transition: color 0.3s ease;

    &:hover {
        cursor: pointer;
        color: $accent-color;
    }
}

// dropdown menu style
.dropdown {
    #dropdownBasic {
        background-color: transparent;
        border: none;
        color: $text-color;

        &::after {
            display: none;
        }

    }
}