@import '../../../../../assets/styles/styles-variables.scss';


quill-editor {
  width: 100%;
  height: 65%;

  .ql-container {
    border-radius: 0 0 6px 6px;
  }

  .ql-container {
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
  }
}

.ql-editor.ql-blank::before {
  color: $text-color;
  opacity: 0.4;
}

.ql-toolbar {
  background-color: $text-color;
  border-radius: 6px 6px 0 0;
}

.company-info {
  height: 20vh;
}