<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        @if (updateMode) {
        {{ 'Recruiter.JobOffer.Modal.UpdateTitle' | translate }}
        } @else {
        {{ 'Recruiter.JobOffer.Modal.CreationTitle' | translate }}
        }
    </h4>
    
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>


<div class="modal-body">

    <!-- Stepper -->
    <div class="row">
        <div class="col-12 mb-3">
            <be-stepper [steps]="['Options', 'Informations', 'UserInformations']" [currentStep]="currentStep"  />
        </div>
    </div>

    <form [formGroup]="jobOfferForm">
        @if(currentStep === 1) {
        <div class="row">
            <div class="col-6">
                <!-- Title -->
                <div class="mb-4">
                    <label for="inputTitle" class="form-label">
                        {{ 'Recruiter.JobOffer.Modal.Body.Form.Title' | translate }}
                    </label>
                    <input type="text" class="form-control" id="inputTitle" formControlName="title"
                        [placeholder]="'Recruiter.JobOffer.Modal.Body.Form.TitlePlaceholder' | translate">
                    @if ((jobOfferForm.get('title')?.invalid && jobOfferForm.get('title')?.touched)) {
                    <app-error-message
                        [message]="'Recruiter.JobOffer.Modal.Body.Form.Validation.Title'"></app-error-message>
                    }
                </div>
                <!-- Job Type -->
                <div class="mb-4">
                    <label for="jobTypeSelect" class="form-label">
                        {{ 'Recruiter.JobOffer.Modal.Body.Form.JobType' | translate }}
                    </label>
                    <select id="jobTypeSelect" class="form-select" formControlName="type">
                        <option *ngFor="let jobType of jobTypesList" [ngValue]="jobType.key">
                            {{ jobType.value | translate }}
                        </option>
                    </select>
                </div>
                <!-- Workplace Type -->
                <div class="mb-4">
                    <label for="workplaceTypeSelect" class="form-label">
                        {{ 'Recruiter.JobOffer.Modal.Body.Form.WorkplaceType' | translate }}
                    </label>
                    <select id="workplaceTypeSelect" class="form-select" formControlName="workplaceType">
                        <option *ngFor="let workplaceType of workplaceTypeList" [ngValue]="workplaceType.key">
                            {{ workplaceType.value | translate }}
                        </option>
                    </select>
                </div>
                <!-- Location -->
                <div class="mb-4">
                    <label for="inputLocation" class="form-label">
                        {{ 'Recruiter.JobOffer.Modal.Body.Form.Location' | translate }}
                    </label>
                    <input type="text" class="form-control" id="inputLocation" formControlName="location"
                        [placeholder]="'Recruiter.JobOffer.Modal.Body.Form.LocationPlaceholder' | translate">
                    @if ((jobOfferForm.get('location')?.invalid && jobOfferForm.get('location')?.touched)) {
                    <app-error-message
                        [message]="'Recruiter.JobOffer.Modal.Body.Form.Validation.Location'"></app-error-message>
                    }
                </div>
                <!-- Salary -->
                <div class="mb-4">
                    <label for="inputSalary" class="form-label">
                        {{ 'Recruiter.JobOffer.Modal.Body.Form.Salary' | translate }}
                    </label>
                    <input type="text" class="form-control" id="inputSalary" formControlName="salary"
                        [placeholder]="'Recruiter.JobOffer.Modal.Body.Form.SalaryPlaceholder' | translate">
                </div>
                <!-- PostedAt -->
                <div class="mb-4">
                    <be-date-picker-input [form]="jobOfferForm" [controlName]="'postedAt'"
                        [label]="'Recruiter.JobOffer.Modal.Body.Form.PostedAt'" [id]="'inputPostedAt'" />
                </div>
                <!-- ExpiresAt -->
                <div class="mb-4">
                    <be-date-picker-input [form]="jobOfferForm" [controlName]="'postedAt'"
                        [label]="'Recruiter.JobOffer.Modal.Body.Form.PostedAt'" [id]="'inputPostedAt'" />
                </div>
                <!-- IsActive -->
                <div class="mb-4">
                    <input class="form-check-input me-2" type="checkbox" id="inputIsActive" formControlName="isActive">
                    <label class="form-check-label" for="inputIsActive">
                        {{ 'Recruiter.JobOffer.Modal.Body.Form.IsActive' | translate }}
                    </label>
                </div>
            </div>
            <div class="col-6">
                <!-- CompanyName -->
                <div class="mb-4">
                    <label for="inputCompanyName" class="form-label">
                        {{ 'Recruiter.JobOffer.Modal.Body.Form.CompanyName' | translate }}
                    </label>
                    <input type="text" class="form-control" id="inputCompanyName" formControlName="companyName"
                        [placeholder]="'Recruiter.JobOffer.Modal.Body.Form.CompanyNamePlaceholder' | translate">
                </div>
                <!-- Company Info -->
                <div class="row" style="height: 20vh;">
                    <div class="col-md-12">
                        <label class="form-label" for="inputCompanyInfo">
                            {{ 'Recruiter.JobOffer.Modal.Body.Form.CompanyInfo' | translate }}
                        </label>
                        <quill-editor formControlName="companyInfo" [modules]="editorModules" id="inputCompanyInfo">
                        </quill-editor>
                    </div>
                </div>
            </div>
        </div>
        }
        @if(currentStep === 2) {
        <div class="row">
            <div class="col-6">
                <!-- Description -->
                <label class="form-label" for="inputDescription">
                    {{ 'Recruiter.JobOffer.Modal.Body.Form.Description' | translate }}
                </label>
                <quill-editor formControlName="description" [modules]="editorModules" id="inputDescription">
                </quill-editor>
                @if ((jobOfferForm.get('description')?.invalid && jobOfferForm.get('description')?.touched)) {
                <app-error-message
                    [message]="'Recruiter.JobOffer.Modal.Body.Form.Validation.Description'"></app-error-message>
                }
            </div>
            <div class="col-6 mb-4">
                <!-- Position Details -->
                <label class="form-label" for="inputPositionDetails">
                    {{ 'Recruiter.JobOffer.Modal.Body.Form.PositionDetails' | translate }}
                </label>
                <quill-editor formControlName="positionDetails" [modules]="editorModules" id="inputPositionDetails">
                </quill-editor>
            </div>
        </div>
        }
        @if(currentStep === 3) {
        <div class="row">
            <div class="col-6 mb-4">
                <!-- Qualifications -->
                <label class="form-label" for="inputQualifications">
                    {{ 'Recruiter.JobOffer.Modal.Body.Form.Qualifications' | translate }}
                </label>
                <quill-editor formControlName="qualifications" [modules]="editorModules" id="inputQualifications">
                </quill-editor>
            </div>
            <div class="col-6">
                <!-- AdditionalRequirements -->
                <label class="form-label" for="inputAdditionalRequirements">
                    {{ 'Recruiter.JobOffer.Modal.Body.Form.AdditionalRequirements' | translate }}
                </label>
                <quill-editor formControlName="additionalRequirements" [modules]="editorModules"
                    id="inputAdditionalRequirements">
                </quill-editor>
            </div>
        </div>
        }
    </form>
</div>

<div class="modal-footer justify-content-around">
    <!-- Previous button -->
    <button class="btn btn-primary" [ngClass]="{ 'w-25': !(currentStep === maxSteps) }" (click)="goToPreviousStep()"
        [disabled]="currentStep === 1">
        <i class="me-2 fa-solid fa-circle-left"></i>
        {{ 'BUTTON.PREVIOUS' | translate }}
    </button>
    <!-- Next button -->
    <button class="btn btn-primary w-25" (click)="goToNextStep()" *ngIf="currentStep < maxSteps">
        {{ 'BUTTON.NEXT' | translate }}
        <i class="ms-2 fa-solid fa-circle-right"></i>
    </button>
    <!-- Save button -->
    <button type="submit" class="btn btn-primary w-25" *ngIf="currentStep === maxSteps" (click)="onSubmit()">
        <i class="me-2" [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-floppy-disk': !isSaving }"></i>
        {{ 'BUTTON.SAVE' | translate }}
    </button>
</div>