@if (!isSuccess && !isError) {
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'SignUp.Recruiter.Modal.Title' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>
@if(currentStep === 1) {
<div class="modal-body step step-active">
    <div class="row mb-3">
        <p> {{ 'SignUp.Recruiter.Modal.Body.FirstLine' | translate }} </p>
        <p> {{ 'SignUp.Recruiter.Modal.Body.SecondLine' | translate }} </p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row mb-4">
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputFirstName"
                    [placeholder]="'SignUp.Recruiter.Modal.Body.Form.FirstName' | translate"
                    formControlName="firstName">
                @if (registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched) {
                <div class="text-danger">
                    {{ 'SignUp.Recruiter.Modal.Body.Form.Validation.FirstName' | translate }}
                </div>
                }
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputLastName"
                    [placeholder]="'SignUp.Recruiter.Modal.Body.Form.LastName' | translate" formControlName="lastName">
                @if (registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched) {
                <div class="text-danger">
                    {{ 'SignUp.Recruiter.Modal.Body.Form.Validation.LastName' | translate }}
                </div>
                }
            </div>
        </div>
        <div class="mb-4">
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                [placeholder]="'SignUp.Recruiter.Modal.Body.Form.Email' | translate" formControlName="email">
            @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
            <div class="text-danger">
                {{ 'SignUp.Recruiter.Modal.Body.Form.Validation.Email' | translate }}
            </div>
            }
        </div>
        <div class="mb-4">
            <div class="password-input input-group">
                <input [type]="passwordVisible ? 'text' : 'password'" class="form-control" id="inputPassword"
                    [placeholder]="'SignUp.Recruiter.Modal.Body.Form.Password' | translate" formControlName="password">
                <span class="input-group-text" (click)="togglePasswordVisibility()">
                    <i class="fa-solid" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                </span>
            </div>
            @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
            <div class="text-danger">
                {{ 'SignUp.Recruiter.Modal.Body.Form.Validation.Password' | translate }}
            </div>
            }
        </div>
        <div class="mb-4">
            <div class="password-input input-group">
                <input [type]="confirmPasswordVisible ? 'text' : 'password'" class="form-control"
                    id="inputConfirmPassword"
                    [placeholder]="'SignUp.Recruiter.Modal.Body.Form.ConfirmPassword' | translate"
                    formControlName="confirmPassword">
                <span class="input-group-text" (click)="toggleConfirmPasswordVisibility()">
                    <i class="fa-solid" [ngClass]="confirmPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                </span>
            </div>
            @if (registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched) {
            <div class="text-danger">
                {{ 'SignUp.Recruiter.Modal.Body.Form.Validation.ConfirmPassword' | translate }}
            </div>
            }
        </div>
        <div class="mt-4 mb-4">
            <p class="fs-6 fw-light">
                By creating an accout, you agree to our <a href="">Terms</a> and have read and acknowledge the <a
                    href="">Global Privacy Statement.</a>
            </p>
        </div>
    </form>
</div>
} @else if (currentStep === 2) {
<div class="modal-body step step-active">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti asperiores vero assumenda.
        Officia, eos voluptate, nostrum, architecto beatae fugit earum tempora explicabo cumque ipsam dignissimos. Ipsum
        animi ex neque odit!
    </p>
</div>
} @else if (currentStep === 3) {
<div class="modal-body step step-active">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti asperiores vero assumenda.
        Officia, eos voluptate, nostrum, architecto beatae fugit earum tempora explicabo cumque ipsam dignissimos. Ipsum
        animi ex neque odit!
    </p>
</div>
}

<div class="modal-footer">
    <button class="btn btn-primary w-25" (click)="goToPreviousStep()" [disabled]="currentStep === 1">
        <i class="me-2 fa-solid fa-circle-left"></i>
        Previous
    </button>
    <button class="btn btn-primary w-25" (click)="goToNextStep()" *ngIf="currentStep < maxSteps">
        Next<i class="ms-2 fa-solid fa-circle-right"></i>
    </button>
    <button class="btn btn-primary w-50" (click)="onSubmit()" *ngIf="currentStep === maxSteps" [disabled]="isLoading">
        <i class="me-2" [ngClass]="{'fa fa-spin fa-spinner': isLoading, 'fa-solid fa-lock': !isLoading}"></i>
        {{ 'SignUp.Recruiter.Modal.Body.Form.SubmitButton' | translate }}
    </button>
</div>
}

@if (isSuccess) {
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'SignUp.Recruiter.Modal.Success.Title' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>

<div class="modal-body main-success">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="assets\images\man-happy.svg" width="200">
        <h5> {{ 'SignUp.Recruiter.Modal.Success.Body.Title' | translate }}</h5>
        <p>{{ 'SignUp.Recruiter.Modal.Success.Body.Message' | translate }}</p>
        <button type="button" class="btn btn-primary w-50" (click)="isError = false">
            <i class="fa-solid fa-paper-plane me-2"></i>
            {{ 'SignUp.Recruiter.Modal.Success.Body.ResendEmailButton' | translate }}
        </button>
    </div>
</div>
} @else if (isError) {
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'SignUp.Recruiter.Modal.Error.Title' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>

<div class="modal-body main-error">
    <div class="mb-3">
        <p>{{ 'SignUp.Recruiter.Modal.Error.Body.Message1' | translate }}</p>
        <p>{{ 'SignUp.Recruiter.Modal.Error.Body.Message2' | translate }}</p>
    </div>

    <div class="mb-3 d-flex justify-content-center align-items-center">
        <img src="assets\images\female-something-went-wrong.svg" width="200">
    </div>
    <div class="mb-3 d-flex justify-content-center">
        <button type="button" class="btn btn-primary w-50" (click)="isError = false">
            <i class="fa-solid fa-circle-arrow-left me-2"></i>
            {{ 'SignUp.Recruiter.Modal.Error.Body.ReturnButton' | translate }}
        </button>
    </div>
</div>
}