@import '../../../../assets/styles/styles-variables.scss';

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-body {
  animation: fadeIn 0.5s ease forwards;
}

.btn-recruiter-type-option {
  border: unset;
  background-color: unset;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s, transform 0.3s;

  &:hover {
    background-color: $accent-color;
    transform: scale(1.05);
    color: $background-color;
  }

  &.active {
    background-color: $secondary-color;
    transform: scale(1.05);
    color: $background-color;
  }
}