.modal-body {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.modal-footer {
  justify-content: space-around;
}

.modal-body {
  opacity: 0;
  position: absolute;
  width: 100%;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Animate the active step */
.modal-body.step-active {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  animation: fadeIn 0.5s ease forwards;
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateX(10px); /* Optional slide-in effect */
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}