<!-- Modal Header -->
<div class="modal-header">

    <h4 class="modal-title" id="modal-basic-title">
        @if(isSuccess) {
        {{ 'SignUp.Recruiter.Modal.Success.Title' | translate }}
        }
        @else if (isError) {
        {{ 'SignUp.Recruiter.Modal.Error.Title' | translate }}
        }
        @else {
            @if(currentStep === 1) {
            {{ 'SignUp.Recruiter.Modal.Step1.Title' | translate }}
            }
            
            @if(currentStep === 2) {
            {{ 'SignUp.Recruiter.Modal.Step2.Title' | translate }}
            }
            
            @if(currentStep === 3) {
            {{ 'SignUp.Recruiter.Modal.Step3.Title' | translate }}
            }
        }
        
    </h4>

    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')">
        <i class="fa-solid fa-xmark fa-lg"></i>
    </button>

</div>

<!-- Initial Display -->
@if (!isSuccess && !isError) {
<div class="row mt-3">

    <!-- Stepper -->
    <be-stepper [steps]="['Options', 'Informations', 'UserInformations']" [currentStep]="currentStep" />

</div>

<!-- Step 1 : Option selection (Company/Freelancer recruiter) -->
@if(currentStep === 1) {
<!-- Modal Body -->
<div class="modal-body">
    <div class="row d-flex flex-row align-items-center justify-content-evenly my-4">
        <div class="col-md-6 d-flex flex-column align-items-center">
            <button class="btn-recruiter-type-option" [ngClass]="{'active': selectedOption === 'company'}"
                (click)="selectOption('company')">
                <img src="assets\images\company.svg" width="100" />
                <label class="form-check-label">
                    {{ 'SignUp.Recruiter.Modal.Step1.Body.RepresentCompany' | translate }}
                </label>
            </button>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center">
            <button class="btn-recruiter-type-option" [ngClass]="{'active': selectedOption === 'freelancer'}"
                (click)="selectOption('freelancer')">
                <img src="assets\images\business-persons.svg" width="100" />
                <label class="form-check-label">
                    {{ 'SignUp.Recruiter.Modal.Step1.Body.FreelanceRecruiter' | translate }}
                </label>
            </button>
        </div>
    </div>
</div>
}
<!-- Step 2 : Verification Process -->
@if (currentStep === 2) {
<!-- Modal Body -->
<div class="modal-body">
    <p [innerHTML]="'SignUp.Recruiter.Modal.Step2.Body.Line1' | translate"></p>
    <p [innerHTML]="'SignUp.Recruiter.Modal.Step2.Body.Line2' | translate"></p>
    <p [innerHTML]="'SignUp.Recruiter.Modal.Step2.Body.Line3' | translate"></p>
    <p [innerHTML]="'SignUp.Recruiter.Modal.Step2.Body.Line4' | translate"></p>
    <p [innerHTML]="'SignUp.Recruiter.Modal.Step2.Body.Line5' | translate"></p>
    <p [innerHTML]="'SignUp.Recruiter.Modal.Step2.Body.Line6' | translate"></p>
</div>
}
<!-- Step 3 : Getting informations -->
@if (currentStep === maxSteps) {
<!-- Freelancer Form -->
@if (selectedOption === 'freelancer') {
<div class="modal-body">
    <div class="row mb-3">
        <p> {{ 'SignUp.Recruiter.Modal.Step3.Body.FirstLine' | translate }} </p>
        <p> {{ 'SignUp.Recruiter.Modal.Step3.Body.SecondLine' | translate }} </p>
    </div>
    <form [formGroup]="registerFreelancerForm" (ngSubmit)="onSubmit()">
        <!-- Full name  -->
        <div class="row mt-3">
            <div class="col-md-6">
                <be-text-input [form]="registerFreelancerForm" [controlName]="'lastName'" [id]="'inputLastName'"
                    [label]="'SHARED.FORM-CONTROLS.LABEL.LASTNAME'" [hasIcon]="true"
                    [iconClass]="'fa-regular fa-user'" [errorMessageKey]="'SHARED.FORM-CONTROLS.VALIDATION.LASTNAME'" 
                    [placeholder]="'SHARED.FORM-CONTROLS.PLACEHOLDER.LASTNAME'" />
            </div>
            <div class="col-md-6">
                    <be-text-input [form]="registerFreelancerForm" [controlName]="'firstName'" [id]="'inputFirstName'"
                    [label]="'SHARED.FORM-CONTROLS.LABEL.FIRSTNAME'" [hasIcon]="true"
                    [iconClass]="'fa-regular fa-user'" [errorMessageKey]="'SHARED.FORM-CONTROLS.VALIDATION.FIRSTNAME'" 
                    [placeholder]="'SHARED.FORM-CONTROLS.PLACEHOLDER.FIRSTNAME'" />
            </div>
        </div>
        <!-- Email -->
        <div class="row mt-3">
            <be-email-input [form]="registerFreelancerForm" />
        </div>
        <!-- Password -->
        <div class="row mt-3">
            <div class="col-12">
                <be-password-input [form]="registerFreelancerForm" />
            </div>
        </div>
        <!-- Confirm Password -->
        <div class="row mt-3">
            <div class="col-12">
                <be-password-input [form]="registerFreelancerForm" [controlName]="'confirmPassword'"
                    [label]="'SHARED.FORM-CONTROLS.LABEL.CONFIRM-PASSWORD'" [placeholder]="'SHARED.FORM-CONTROLS.PLACEHOLDER.CONFIRM-PASSWORD'" />
            </div>
        </div>
        <!-- Terms & Privacy Statement -->
        <div class="row mt-4 mb-4">
            <p class="fs-6 fw-light" [innerHTML]="'SignUp.Recruiter.Modal.Step3.Body.Form.TermsNote' | translate"></p>
        </div>
    </form>
</div>
}

<!-- Company Form -->
@if (selectedOption === 'company') {
<div class="modal-body">
    <form [formGroup]="registerRepresentativeForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-6">
                <h4>{{ 'SignUp.Recruiter.Modal.Step3.Body.Form.Representative' | translate }}</h4>
                <!-- Full Name -->
                <div class="row mt-3">
                    <div class="col-md-6">
                        <be-text-input [form]="registerRepresentativeForm" [controlName]="'lastName'" [id]="'inputLastName'"
                            [label]="'SHARED.FORM-CONTROLS.LABEL.LASTNAME'" [hasIcon]="true"
                            [iconClass]="'fa-regular fa-user'" [errorMessageKey]="'SHARED.FORM-CONTROLS.VALIDATION.LASTNAME'" 
                            [placeholder]="'SHARED.FORM-CONTROLS.PLACEHOLDER.LASTNAME'" />
                    </div>
                    <div class="col-md-6">
                         <be-text-input [form]="registerRepresentativeForm" [controlName]="'firstName'" [id]="'inputFirstName'"
                            [label]="'SHARED.FORM-CONTROLS.LABEL.FIRSTNAME'" [hasIcon]="true"
                            [iconClass]="'fa-regular fa-user'" [errorMessageKey]="'SHARED.FORM-CONTROLS.VALIDATION.FIRSTNAME'" 
                            [placeholder]="'SHARED.FORM-CONTROLS.PLACEHOLDER.FIRSTNAME'" />
                    </div>
                </div>
                <!-- Position -->
                <div class="row mt-3">
                    <be-text-input [form]="registerRepresentativeForm" [controlName]="'position'" [id]="'inputPosition'"
                        [label]="'SignUp.Recruiter.Modal.Step3.Body.Form.Position'" [hasIcon]="true"
                        [iconClass]="'fa-regular fa-address-card'" [errorMessageKey]="'SignUp.Recruiter.Modal.Step3.Body.Form.Validation.Position'" 
                        [placeholder]="'SignUp.Recruiter.Modal.Step3.Body.Form.PLACEHOLDER.Position'" />
                </div>
                <!-- Email -->
                <div class="row mt-3">
                    <be-email-input [form]="registerRepresentativeForm" />
                </div>
                <!-- Password -->
                <div class="row mt-3">
                    <be-password-input [form]="registerRepresentativeForm" />
                </div>
                <!-- Confirm Password -->
                <div class="row mt-3">
                    <be-password-input [form]="registerRepresentativeForm" [controlName]="'confirmPassword'"
                        [label]="'SHARED.FORM-CONTROLS.LABEL.CONFIRM-PASSWORD'" [placeholder]="'SHARED.FORM-CONTROLS.PLACEHOLDER.CONFIRM-PASSWORD'" />
                </div>
            </div>
            <div class="col-md-6">
                <h4>{{ 'SignUp.Recruiter.Modal.Step3.Body.Form.Company' | translate }}</h4>
                <!-- Company name and website -->
                <div class="row mt-3">
                    <div class="col-6">
                        <be-text-input [form]="registerRepresentativeForm" [controlName]="'name'" [id]="'inputCompanyName'" [errorMessageKey]="'SignUp.Recruiter.Modal.Step3.Body.Form.Validation.CompanyName'"
                            [label]="'SignUp.Recruiter.Modal.Step3.Body.Form.CompanyName'" [hasIcon]="true" [iconClass]="'fa-solid fa-building'" [placeholder]="'SignUp.Recruiter.Modal.Step3.Body.Form.CompanyName'"/>
                    </div>
                    <div class="col-6">
                        <be-text-input [form]="registerRepresentativeForm" [controlName]="'website'" [id]="'inputWebsite'"
                            [label]="'Representative.Company.Website'" [hasIcon]="true" [iconClass]="'fa-solid fa-link'" />
                    </div>
                </div>
                <!-- Company Address -->
                <be-address-group  [form]="registerRepresentativeForm" [isCompany]="true" />
                <!-- Phone Number -->
                <div class="row mt-3">
                    <be-phone-input [form]="registerRepresentativeForm" />
                </div>
            </div>
        </div>

        <!-- Terms & Privacy Statement -->
        <div class="row mt-4 mb-4">
            <p class="fs-6 fw-light" [innerHTML]="'SignUp.Recruiter.Modal.Step3.Body.Form.TermsNote' | translate"></p>
        </div>
    </form>
</div>
}
}

<!-- Modal Footer -->
<div class="modal-footer justify-content-around">
    <button class="btn btn-primary" [ngClass]="{ 'w-25': !(selectedOption === 'company' && currentStep === maxSteps) }"
        (click)="goToPreviousStep()" [disabled]="currentStep === 1">
        <i class="me-2 fa-solid fa-circle-left"></i>
        {{ 'BUTTON.PREVIOUS' | translate }}
    </button>
    <button class="btn btn-primary w-25" (click)="goToNextStep()" *ngIf="currentStep < maxSteps"
        [disabled]="selectedOption == null">
        {{ 'BUTTON.NEXT' | translate }}
        <i class="ms-2 fa-solid fa-circle-right"></i>
    </button>
    <button class="btn btn-primary"
        [ngClass]="{ 'w-50': selectedOption !== 'company', 'w-25': selectedOption === 'company'}" (click)="onSubmit()"
        *ngIf="currentStep === maxSteps" [disabled]="isLoading">
        <i class="me-2" [ngClass]="{'fa fa-spin fa-spinner': isLoading, 'fa-solid fa-lock': !isLoading}"></i>
        {{ 'SignUp.Recruiter.Modal.Footer.SubmitButton' | translate }}
    </button>
</div>
}

<!-- Success / Error Display -->
@if (isSuccess) {
<div class="modal-body main-success">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="assets\images\man-happy.svg" width="200">
        <h5> {{ 'SignUp.Recruiter.Modal.Success.Body.Title' | translate }}</h5>
        <p>{{ 'SignUp.Recruiter.Modal.Success.Body.Message' | translate }}</p>
        <button type="button" class="btn btn-primary w-50" (click)="isError = false">
            <i class="fa-solid fa-paper-plane me-2"></i>
            {{ 'SignUp.Recruiter.Modal.Success.Body.ResendEmailButton' | translate }}
        </button>
    </div>
</div>
} @else if (isError) {
<div class="modal-body main-error">
    <div class="mb-3">
        <p>{{ 'SignUp.Recruiter.Modal.Error.Body.Message1' | translate }}</p>
        <p>{{ 'SignUp.Recruiter.Modal.Error.Body.Message2' | translate }}</p>
    </div>

    <div class="mb-3 d-flex justify-content-center align-items-center">
        <img src="assets\images\female-something-went-wrong.svg" width="200">
    </div>
    <div class="mb-3 d-flex justify-content-center">
        <button type="button" class="btn btn-primary w-50" (click)="isError = false">
            <i class="fa-solid fa-circle-arrow-left me-2"></i>
            {{ 'BUTTON.RETURN' | translate }}
        </button>
    </div>
</div>
}
