<div [formGroup]="form">
    <label for="inputPhone" class="form-label">
        <i class="fa-solid fa-phone me-2"></i>
        {{ 'SHARED.FORM-CONTROLS.LABEL.PHONE' | translate }}
    </label>
    <ngx-intl-tel-input [cssClass]="'form-control'" [enableAutoCountrySelect]="false" [enablePlaceholder]="true"
        [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
        [onlyCountries]="[CountryISO.Canada, CountryISO.France, CountryISO.Tunisia ]" [selectFirstCountry]="false"
        [selectedCountryISO]="selectedCountryISO" [maxLength]="15" [phoneValidation]="true" name="phone"
        formControlName="phone" inputId="inputPhone" (countryChange)="onPhoneCountryChange()">
    </ngx-intl-tel-input>

    @if (form.get('phone')?.errors?.['required'] && form.get('phone')?.touched) {
        <app-error-message [message]="'SHARED.FORM-CONTROLS.VALIDATION.PHONE-REQUIRED'"></app-error-message>
    }

    @if (form.get('phone')?.errors?.['validatePhoneNumber'] && form.get('phone')?.touched) {
        <app-error-message [message]="'SHARED.FORM-CONTROLS.VALIDATION.PHONE-INVALID'"></app-error-message>
    }

</div>