<div [formGroup]="form">
    <div class="mb-4">
        <div class="form-floating password-input input-group">
            <input [type]="confirmPasswordVisible ? 'text' : 'password'" class="form-control" id="inputConfirmPassword"
                [formControlName]="controlName" placeholder="ConfirmPassword">
            <label for="inputConfirmPassword" class="form-label">
                <i class="fa-solid fa-lock me-2"></i>
                {{ label | translate }}
            </label>
            <span class="input-group-text" (click)="togglePasswordVisibility()">
                <i class="fa-solid" [ngClass]="confirmPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
            </span>
        </div>
        @if (form.errors?.['mismatch'] && form.get(controlName)?.touched) {
        <app-error-message [message]="'SHARED.FORM-CONTROLS.VALIDATION.PASSWORD-MISMATCH'" />
        }
    </div>
</div>