<!-- Loading -->
@if (isLoading) {
<be-loader />
} @else {
<!-- No data -->
@if (jobOffers.length === 0) {
<div class="empty-list row d-flex justify-content-center align-items-center flex-column">
    <div class="col-6">
        <p class="text-center">
            {{ 'Recruiter.JobOffer.NoJobOfferMessage' | translate }}
        </p>
    </div>
</div>
} @else {
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">{{ 'Recruiter.JobOffer.Table.JobOffer' | translate }}</th>
                    <th scope="col">{{ 'Recruiter.JobOffer.Table.Recruiter' | translate }}</th>
                    <th scope="col">{{ 'Recruiter.JobOffer.Table.Total' | translate }}</th>
                    <th scope="col">{{ 'Recruiter.JobOffer.Table.Submitted' | translate }}</th>
                    <th scope="col">{{ 'Recruiter.JobOffer.Table.Shortlisted' | translate }}</th>
                    <th scope="col">{{ 'Recruiter.JobOffer.Table.InterviewScheduled' | translate }}</th>
                    <th scope="col">{{ 'Recruiter.JobOffer.Table.Hired' | translate }}</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @for (jobOffer of jobOffers; track jobOffer.title; let i = $index) {
                <tr (click)="navigateToJobOfferDetail(jobOffer)">
                    <td>
                        {{ jobOffer.title }}
                        @if(jobOffer.companyName) {
                            <br>
                            {{ jobOffer.companyName }}
                        }
                        <br>
                        @if(jobOffer.isActive) {
                            <span class="dot"></span>
                        } @else {
                            <span class="dot inactive"></span>
                        }
                        {{ 'Enum.JobType.' + getJobTypeName(jobOffer.type) | translate }}
                        <span class="sep">•</span>
                        {{ 'Enum.WorkplaceType.' + getWorkplaceTypeName(jobOffer.workplaceType) | translate }}
                    </td>
                    <td>
                        @if (jobOffer.recruiter) {
                            {{ jobOffer.recruiter.firstName }} {{ jobOffer.recruiter.lastName }}
                        }
                    </td>
                    <td>
                        <span class="circle">
                            {{ jobOffer.stats.total }}
                        </span>
                    </td>
                    <td>
                        <span class="circle">
                            {{ jobOffer.stats.submitted }}
                        </span>
                    </td>
                    <td>
                        <span class="circle">
                            {{ jobOffer.stats.shortlisted }}
                        </span>
                    </td>
                    <td>
                         <span class="circle">
                            {{ jobOffer.stats.interviewScheduled }}
                        </span>
                    </td>
                    <td>
                        <span class="circle">
                            {{ jobOffer.stats.hired }}
                        </span>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

}
}