<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        @if (updateMode) {
        {{ 'Profile.Representative.Recruiter.Modal.UpdateTitle' | translate }}
        } @else {
        {{ 'Profile.Representative.Recruiter.Modal.CreationTitle' | translate }}
        }
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>

<div class="modal-body">
    <form [formGroup]="recruiterForm" (ngSubmit)="onSubmit()">
        <!-- First Name -->
        <div class="mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="inputFirstName" formControlName="firstName"
                    [placeholder]="'Profile.Representative.Recruiter.Modal.Body.Form.FirstName' | translate">
                <label for="inputFirstName" class="form-label">
                    {{ 'Profile.Representative.Recruiter.Modal.Body.Form.FirstName' | translate }}
                </label>
            </div>
            @if ((recruiterForm.get('firstName')?.invalid && recruiterForm.get('firstName')?.touched)) {
            <div class="text-danger">
                {{ 'Profile.Representative.Recruiter.Modal.Body.Form.Validation.FirstName' | translate }}
            </div>
            }
        </div>
        <!-- Last Name -->
        <div class="mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="inputLastName" formControlName="lastName"
                    [placeholder]="'Profile.Representative.Recruiter.Modal.Body.Form.LastName' | translate">
                <label for="inputLastName" class="form-label">
                    {{ 'Profile.Representative.Recruiter.Modal.Body.Form.LastName' | translate }}
                </label>
            </div>
            @if ((recruiterForm.get('lastName')?.invalid && recruiterForm.get('lastName')?.touched)) {
            <div class="text-danger">
                {{ 'Profile.Representative.Recruiter.Modal.Body.Form.Validation.LastName' | translate }}
            </div>
            }
        </div>
        <!-- Email -->
        <div class="mb-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="inputEmail" formControlName="email"
                    [placeholder]="'Profile.Representative.Recruiter.Modal.Body.Form.LastName' | translate">
                <label for="inputEmail" class="form-label">
                    {{ 'Profile.Representative.Recruiter.Modal.Body.Form.Email' | translate }}
                </label>
            </div>
            @if ((recruiterForm.get('email')?.invalid && recruiterForm.get('email')?.touched)) {
            <div class="text-danger">
                {{ 'Profile.Representative.Recruiter.Modal.Body.Form.Validation.Email' | translate }}
            </div>
            }
        </div>
        <!-- Save -->
        <div class="mb-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-50">
                <i class="me-2"
                    [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-floppy-disk': !isSaving }"></i>
                {{ 'Shared.Button.Save' | translate }}
            </button>
        </div>
    </form>
</div>