<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'Representative.Recruiter.Modal.CreationTitle' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>

<div class="modal-body">
    <form [formGroup]="recruiterForm" (ngSubmit)="onSubmit()">
        <app-full-name-input [form]="recruiterForm"/>
        <!-- Email -->
        <div class="mb-4">
            <app-email-input [form]="recruiterForm"></app-email-input>
        </div>
        <!-- Create -->
        <div class="mb-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-50">
                <i class="me-2"
                    [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-circle-plus': !isSaving }"></i>
                {{ 'BUTTON.CREATE' | translate }}
            </button>
        </div>
    </form>
</div>