<div [formGroup]="form">
    <div class="form-floating password-input input-group">
        <input [type]="passwordVisible ? 'text' : 'password'" class="form-control" id="inputPassword"
            [placeholder]="'Login.Modal.Body.Form.Password' | translate" formControlName="password">
        <label for="inputEmail" class="form-label">
            <i class="fa-solid fa-lock me-2"></i>
            {{ 'SHARED.FORM-CONTROLS.LABEL.PASSWORD' | translate }}
        </label>
        <span class="input-group-text" (click)="togglePasswordVisibility()">
            <i class="fa-solid" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
        </span>
    </div>
    @if (form.get('password')?.invalid && form.get('password')?.touched) {
    <app-error-message [message]="'SHARED.FORM-CONTROLS.VALIDATION.PASSWORD-REQUIRED'"></app-error-message>
    }
</div>