// 1st theme: Professional and Trustworthy
// Primary Color: #003366 (Dark Blue) - Represents professionalism and reliability.
// Secondary Color: #0099CC (Sky Blue) - For highlights and call-to-action elements.
// Accent Color: #F4A460 (Sandy Brown) - To add warmth and draw attention to important elements.
// Background Color: #F4F4F4 (Light Grey) - Neutral background that keeps the content clean and readable.
// Text Color: #333333 (Dark Grey) - For easy readability and a professional look.

$primary-color: #003366;
$secondary-color: #0099CC;
$accent-color: #F4A460;
$background-color: #F4F4F4;
$text-color: #333333;