@if (!isSuccess && !isError) {
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'SignUp.Talent.Modal.Title' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>

<div class="modal-body">
    <div class="row mb-3">
        <p> {{ 'SignUp.Talent.Modal.Body.FirstLine' | translate }} </p>
    </div>
    <!-- Form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Full Name -->
        <div class="mb-4">
            <app-full-name-input [form]="registerForm"/>
        </div>
        <!-- Email -->
        <div class="mb-4">
            <be-email-input [form]="registerForm"/>
        </div>
        <!-- Password -->
        <div class="row mb-4">
            <div class="col-12">
                <be-password-input [form]="registerForm" />
            </div>
        </div>
        <!-- Confirm Password -->
        <div class="row mb-4">
            <div class="col-12">
                <be-confirm-password-input [form]="registerForm" />
            </div>
        </div>
        <!-- Terms & Privacy Statement -->
        <div class="mt-4 mb-4">
            <p class="fs-6 fw-light" [innerHTML]="'SignUp.Talent.Modal.Body.Form.TermsNote' | translate"></p>
        </div>
        <!-- Create button -->
        <div class="mb-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-50" [disabled]="isLoading">
                <i class="me-2" [ngClass]="{'fa fa-spin fa-spinner': isLoading, 'fa-solid fa-lock': !isLoading}"></i>
                {{ 'SignUp.Talent.Modal.Body.Form.SubmitButton' | translate }}
            </button>
        </div>
    </form>
</div>
}

<!-- Success / Error Display -->
@if (isSuccess) {
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'SignUp.Talent.Modal.Success.Title' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>

<div class="modal-body main-success">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="assets\images\man-happy.svg" width="200">
        <h5> {{ 'SignUp.Talent.Modal.Success.Body.Title' | translate }}</h5>
        <p>{{ 'SignUp.Talent.Modal.Success.Body.Message' | translate }}</p>
        <button type="button" class="btn btn-primary w-50" (click)="isError = false">
            <i class="fa-solid fa-paper-plane me-2"></i>
            {{ 'SignUp.Talent.Modal.Success.Body.ResendEmailButton' | translate }}
        </button>
    </div>
</div>
} @else if (isError) {
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'SignUp.Talent.Modal.Error.Title' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>

<div class="modal-body main-error">
    <div class="mb-3">
        <p>{{ 'SignUp.Talent.Modal.Error.Body.Message1' | translate }}</p>
        <p>{{ 'SignUp.Talent.Modal.Error.Body.Message2' | translate }}</p>
    </div>

    <div class="mb-3 d-flex justify-content-center align-items-center">
        <img src="assets\images\female-something-went-wrong.svg" width="200">
    </div>
    <div class="mb-3 d-flex justify-content-center">
        <button type="button" class="btn btn-primary w-50" (click)="isError = false">
            <i class="fa-solid fa-circle-arrow-left me-2"></i>
            {{ 'SignUp.Talent.Modal.Error.Body.ReturnButton' | translate }}
        </button>
    </div>
</div>
}