<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'Talent.PreviewModal.Headers.TalentCard' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <!-- Basic Information -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h5 class="text-primary">
                    {{ 'Talent.PreviewModal.Headers.BasicInformation' | translate }}
                </h5>
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <strong>
                                {{ 'Talent.PreviewModal.FullName' | translate }}
                            </strong> 
                            {{ selectedTalent?.firstName }} {{ selectedTalent?.lastName }}
                        </p>
                        <p>
                            <strong>
                                {{ 'Talent.PreviewModal.ProfileTitle' | translate }}
                            </strong> 
                            {{ selectedTalent?.profileTitle }}
                        </p>
                        <p>
                            <strong>
                                {{ 'Talent.PreviewModal.DateOfBirth' | translate }}
                            </strong> 
                            {{ selectedTalent?.dateOfBirth | date }}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <strong>
                                {{ 'Talent.PreviewModal.Email' | translate }}
                            </strong> 
                            {{ selectedTalent?.email }}
                        </p>
                        <p>
                            <strong>
                                {{ 'Talent.PreviewModal.Phone' | translate }}
                            </strong> 
                            {{ selectedTalent?.phone }}
                        </p>
                        <p>
                            <strong>
                                {{ 'Talent.PreviewModal.Address' | translate }}
                            </strong> 
                            {{ selectedTalent?.address }}, {{ selectedTalent?.city }}, 
                            {{ selectedTalent?.state }}, {{ selectedTalent?.zip }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Education -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h5 class="text-primary">
                    {{ 'Talent.PreviewModal.Headers.Education' | translate }}
                </h5>
                @if (selectedTalent?.educations?.length != 0) {
                    <div ngbAccordion #accordion="ngbAccordion" activeIds="edu0">
                        <div *ngFor="let education of selectedTalent?.educations; let i = index"
                            ngbAccordionItem="edu{{ i }}">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>
                                    {{ education.diploma }} {{ 'Talent.PreviewModal.In' | translate }} {{ education.domain }}
                                </button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <p>
                                        <strong>
                                            {{ 'Talent.PreviewModal.Institution' | translate }}
                                        </strong> 
                                        {{ education.institution }}
                                    </p>
                                    <p>
                                        <strong>
                                            {{ 'Talent.PreviewModal.Duration' | translate }}
                                        </strong> 
                                        {{ education.startYear }} - {{ education.endYear || 'Today' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @else {
                    {{ 'Talent.PreviewModal.NoEducations' | translate }}
                }
            </div>
        </div>
        <!-- Experience -->
        <div class="row mb-4">
            <div class="col-md-12">
                <h5 class="text-primary">
                    {{ 'Talent.PreviewModal.Headers.Experience' | translate }}
                </h5>
                @if (selectedTalent?.educations?.length != 0) {
                    <div ngbAccordion #accordion="ngbAccordion" activeIds="exp0">
                        <div *ngFor="let experience of selectedTalent?.experiences; let i = index"
                            ngbAccordionItem="exp{{ i }}">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>
                                    {{ experience.jobTitle }} {{ 'Talent.PreviewModal.At' | translate }} {{ experience.companyName }}
                                </button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <p>
                                        <strong>
                                            {{ 'Talent.PreviewModal.Duration' | translate }}
                                        </strong> 
                                        {{ experience.startYear }} - {{ experience.endYear || 'Today' }}
                                    </p>
                                    <p [hidden]="!experience.description">
                                        <strong>
                                            {{ 'Talent.PreviewModal.Description' | translate }}
                                        </strong> 
                                        {{ experience.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @else {
                    {{ 'Talent.PreviewModal.NoExperiences' | translate }}
                }
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dismiss('Close click')">Close</button>
</div>