<div [formGroup]="form">
    <label class="form-label" [for]="id">
        @if(hasIcon) {
        <i [class]="getIconClass()"></i>
        }
        {{ label | translate }}
        @if (isRequired()) {
        <span class="text-danger">*</span>
        }
    </label>
    <input type="text" class="form-control" [id]="id" [placeholder]="placeholder | translate"
        [formControlName]="controlName">

    @if ((form.get(controlName)?.invalid && form.get(controlName)?.touched)) {
        <app-error-message [message]="errorMessageKey" />
    }
</div>
