@import '../../../../assets/styles/styles-variables.scss';

.card-body {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        .card-title {
            text-decoration: underline;
        }
    }
}

.selected-job-offer {
    border: 1px solid rgba(0, 0, 0, 0.661);
    // border-radius: 4px;
}