<div class="row">

    <div class="col-md-9">

        <!-- Loading -->
        @if (isLoading) {
        <div class="loading-spinner">
            <div class="spinner-border">
            </div>
        </div>
        } @else {
            <!-- No data -->
            @if (recruiters.length === 0) {
                <div class="empty-list row d-flex justify-content-center align-items-center flex-column">
                    <div class="col-6">
                        <p style="text-align: center;">
                            {{ 'Representative.Recruiter.NoRecruiterMessage' | translate }}
                        </p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <button class="btn btn-primary" (click)="open(addRecruiterContent)">
                            <i class="fa-solid fa-circle-plus me-2"></i>
                            {{ 'Representative.Recruiter.AddRecruiter' | translate }}
                        </button>
                    </div>
                </div>
            } @else {
                <div class="row mb-3">
                    <div class="col-md-12 d-flex justify-content-end">
                        <button class="btn btn-primary" (click)="open(addRecruiterContent)">
                            <i class="fa-solid fa-circle-plus me-2"></i>
                            {{ 'Representative.Recruiter.AddRecruiter' | translate }}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Full name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (recruiter of recruiters; track recruiter.email; let i = $index) {
                                <tr>
                                    <th scope="row">
                                        {{ i + 1 }}
                                    </th>
                                    <td>
                                        {{ recruiter.firstName }} {{ recruiter.lastName }}
                                    </td>
                                    <td>
                                        {{ recruiter.email }}
                                    </td>
                                    <td>
                                        <i class="action-button fa-solid fa-trash" (click)="openDeleteModal(deleteRecruiterContent, recruiter)"></i>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            }
        }
    </div>
</div>


<!-- Recruiter creation modal -->
<ng-template #addRecruiterContent let-c="close" let-d="dismiss">
    <app-recruiter-team-modal [closeModal]="c" [dismissModal]="d" (modalActionComplete)="modalActionComplete($event)">
    </app-recruiter-team-modal>
</ng-template>

<!-- Delete modal -->
<ng-template #deleteRecruiterContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            {{ 'Representative.Recruiter.Modal.DeleteTitle' | translate }}
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>
            {{ 'Representative.Recruiter.Modal.Body.DeleteMessage' | translate }}
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteRecruiter()">
            <i class="me-2" [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-trash': !isSaving }"></i>
            {{ 'Button.Delete' | translate }}
        </button>
    </div>
</ng-template>