<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'Profile.Talent.Education.Modal.Title' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>

<div class="modal-body">
    <form [formGroup]="educationForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label for="inputInstitution" class="form-label">
                {{ 'Profile.Talent.Education.Modal.Body.Form.Institution' | translate }}
            </label>
            <input type="text" class="form-control" id="inputInstitution" formControlName="institution">
        </div>
        <div class="mb-4">
            <label for="inputDiploma" class="form-label">
                {{ 'Profile.Talent.Education.Modal.Body.Form.Diploma' | translate }}
            </label>
            <input type="text" class="form-control" id="inputDiploma" formControlName="diploma">
        </div>
        <div class="mb-4">
            <label for="inputDomain" class="form-label">
                {{ 'Profile.Talent.Education.Modal.Body.Form.Domain' | translate }}
            </label>
            <input type="text" class="form-control" id="inputDomain" formControlName="domain">
        </div>
        <div class="row mb-4">
            <div class="col-md-6">
                <label for="selectStartMonth" class="form-label">
                    {{ 'Profile.Talent.Education.Modal.Body.Form.StartMonth' | translate }}
                </label>
                <select class="form-select form-select-sm" id="selectStartMonth" formControlName="startMonth">
                    <option *ngFor="let month of monthsList" [value]="month.id"> {{ month.value | translate }} </option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="selectStartYear" class="form-label">
                    {{ 'Profile.Talent.Education.Modal.Body.Form.StartYear' | translate }}
                </label>
                <select class="form-select form-select-sm" id="selectStartYear" formControlName="startYear">
                    <option value="0">
                        {{ 'Profile.Talent.Education.Modal.Body.Form.SelectYear' | translate }}
                    </option>
                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6">
                <label for="selectFinishMonth" class="form-label">
                    {{ 'Profile.Talent.Education.Modal.Body.Form.FinishMonth' | translate }}
                </label>
                <select class="form-select form-select-sm" id="selectFinishMonth" formControlName="finishMonth">
                    <option *ngFor="let month of monthsList" [value]="month.id"> {{ month.value | translate }} </option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="selectFinishYear" class="form-label">
                    {{ 'Profile.Talent.Education.Modal.Body.Form.FinishYear' | translate }}
                </label>
                <select class="form-select form-select-sm" id="selectFinishYear" formControlName="finishYear">
                    <option value="0">
                        {{ 'Profile.Talent.Education.Modal.Body.Form.SelectYear' | translate }}
                    </option>
                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
            </div>
        </div>
        <div class="mb-4">
            <input class="form-check-input me-2" type="checkbox" id="inputCurrentlyStudying"
                formControlName="currentlyStudying">
            <label class="form-check-label" for="inputCurrentlyStudying">
                {{ 'Profile.Talent.Education.Modal.Body.Form.CurrentlyStudying' | translate }}
            </label>
        </div>
        <div class="mb-4 d-flex justify-content-center">
            <button type="submit" class="btn w-50">
                <i class="me-2"
                    [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-floppy-disk': !isSaving }"></i>
                {{ 'Profile.Save' | translate }}
            </button>
        </div>
    </form>
</div>