@import '../../../../assets/styles/styles-variables.scss';

.empty-list {
    height: 50vh;

    p {
        text-align: center;
    }
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;

    .spinner-border {
        color: $secondary-color;
        width: 3rem;
        height: 3rem;
    }
}

.card-btn {
    position: absolute;
    cursor: pointer;
    &.update-btn {
        top: 15px;
        right: 60px;
    }
    &.delete-btn {
        top: 15px;
        right: 20px;
    }
    &:hover {
        color: $secondary-color;
    }
}