<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        @if (updateMode) {
        {{ 'Talent.Education.Modal.UpdateTitle' | translate }}
        } @else {
        {{ 'Talent.Education.Modal.CreationTitle' | translate }}
        }
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>

<div class="modal-body">
    <form [formGroup]="educationForm" (ngSubmit)="onSubmit()">
        <!-- Institution -->
        <div class="mb-4">
            <label for="inputInstitution" class="form-label">
                {{ 'Talent.Education.Modal.Body.Form.Institution' | translate }}
            </label>
            <input type="text" class="form-control" id="inputInstitution" formControlName="institution"
                [placeholder]="'Talent.Education.Modal.Body.Form.InstitutionPlaceHolder' | translate">
            @if ((educationForm.get('institution')?.invalid && educationForm.get('institution')?.touched)) {
            <app-error-message
                [message]="'Talent.Education.Modal.Body.Form.Validation.Institution'"></app-error-message>
            }
        </div>
        <!-- Diploma -->
        <div class="mb-4">
            <label for="inputDiploma" class="form-label">
                {{ 'Talent.Education.Modal.Body.Form.Diploma' | translate }}
            </label>
            <input type="text" class="form-control" id="inputDiploma" formControlName="diploma"
                [placeholder]="'Talent.Education.Modal.Body.Form.DiplomaPlaceHolder' | translate">
        </div>
        <!-- Domain -->
        <div class="mb-4">
            <label for="inputDomain" class="form-label">
                {{ 'Talent.Education.Modal.Body.Form.Domain' | translate }}
            </label>
            <input type="text" class="form-control" id="inputDomain" formControlName="domain"
                [placeholder]="'Talent.Education.Modal.Body.Form.DomainPlaceHolder' | translate">
        </div>
        <!-- StartMonth & StartYear -->
        <div class="row mb-4">
            <div class="col-md-6">
                <label for="selectStartMonth" class="form-label">
                    {{ 'Talent.Education.Modal.Body.Form.StartMonth' | translate }}
                </label>
                <select class="form-select form-select-sm" id="selectStartMonth" formControlName="startMonth">
                    <option *ngFor="let month of monthsList" [value]="month.id"> {{ month.value | translate }} </option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="selectStartYear" class="form-label">
                    {{ 'Talent.Education.Modal.Body.Form.StartYear' | translate }}
                </label>
                <select class="form-select form-select-sm" id="selectStartYear" formControlName="startYear">
                    <option value="0">
                        {{ 'Date.SelectYear' | translate }}
                    </option>
                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
            </div>
            <div class="col-md-12">
                @if ((educationForm.get('startMonth')?.hasError('requiredSelection') &&
                educationForm.get('startMonth')?.touched) ||
                (educationForm.get('startYear')?.hasError('requiredSelection') &&
                educationForm.get('startYear')?.touched)) {
                <app-error-message [message]="'Talent.Education.Modal.Body.Form.Validation.StartDate'"></app-error-message>
                }
            </div>
        </div>
        <!-- EndMonth & EndYear -->
        <div class="row mb-4">
            <div class="col-md-6">
                <label for="selectEndMonth" class="form-label">
                    {{ 'Talent.Education.Modal.Body.Form.EndMonth' | translate }}
                </label>
                <select class="form-select form-select-sm" id="selectEndMonth" formControlName="endMonth">
                    <option *ngFor="let month of monthsList" [value]="month.id"> {{ month.value | translate }} </option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="selectEndYear" class="form-label">
                    {{ 'Talent.Education.Modal.Body.Form.EndYear' | translate }}
                </label>
                <select class="form-select form-select-sm" id="selectEndYear" formControlName="endYear">
                    <option value="0">
                        {{ 'Date.SelectYear' | translate }}
                    </option>
                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
            </div>
            <div class="col-md-12">
                @if (educationForm.errors?.['invalidDateRange']) {
                <app-error-message [message]="'Talent.Education.Modal.Body.Form.Validation.InvalidDateRange'"></app-error-message>
                }
                @if (educationForm.errors?.['invalidEndDateTwoFields']) {
                <app-error-message [message]="'Talent.Education.Modal.Body.Form.Validation.InvalidEndDateTwoFields'"></app-error-message>
                }
            </div>
        </div>
        <!-- CurrentlyStudying -->
        <div class="mb-4">
            <input class="form-check-input me-2" type="checkbox" id="inputCurrentlyStudying"
                formControlName="currentlyStudying">
            <label class="form-check-label" for="inputCurrentlyStudying">
                {{ 'Talent.Education.Modal.Body.Form.CurrentlyStudying' | translate }}
            </label>
        </div>
        <!-- Save -->
        <div class="mb-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-50">
                @if (updateMode) {
                <i class="me-2"
                    [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-floppy-disk': !isSaving }"></i>
                {{ 'Button.Save' | translate }}
                } @else {
                <i class="me-2"
                    [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-circle-plus': !isSaving }"></i>
                {{ 'Button.Create' | translate }}
                }
            </button>
        </div>
    </form>
</div>