<!-- Loading -->
@if (isLoading) {
<app-loader />
} @else {
<!-- No data -->
@if (jobApplications.length === 0) {
<div class="empty-list row d-flex justify-content-center align-items-center flex-column">
    <div class="col-6">
        <p style="text-align: center;">
            {{ 'Talent.JobApplication.NoJobApplicationMessage' | translate }}
        </p>
    </div>
</div>
} @else {
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" (click)="sortData('jobOfferTitle')" class="sortable">
                        {{'Talent.JobApplication.Table.Title' | translate }}
                         <i *ngIf="sortColumn === 'jobOfferTitle'"
                            class="bi"
                            [ngClass]="{'bi-caret-up-fill': sortDirection === 'asc', 'bi-caret-down-fill': sortDirection === 'desc'}"></i>
                    </th>
                    <th scope="col" (click)="sortData('appliedAt')" class="sortable">
                        {{ 'Talent.JobApplication.Table.AppliedAt' | translate }}
                        <i *ngIf="sortColumn === 'appliedAt'"
                            class="bi"
                            [ngClass]="{'bi-caret-up-fill': sortDirection === 'asc', 'bi-caret-down-fill': sortDirection === 'desc'}"></i>
                    </th>
                    <th scope="col" (click)="sortData('status')" class="sortable">
                        {{ 'Talent.JobApplication.Table.Status' | translate }}
                        <i *ngIf="sortColumn === 'status'"
                            class="bi"
                            [ngClass]="{'bi-caret-up-fill': sortDirection === 'asc', 'bi-caret-down-fill': sortDirection === 'desc'}"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (jobApplication of sortedJobApplications; track jobApplication.id; let i = $index;) {
                <tr>
                    <td>
                        {{ jobApplication.jobOfferTitle }}
                    </td>
                    <td>
                        {{ jobApplication.appliedAt | date:'yyyy-MM-dd HH:mm' }}
                    </td>
                    <td>
                        <span class="badge rounded-pill" [ngClass]="getStatusClass(jobApplication.status)">
                            {{ 'Enum.JobApplicationStatus.' + getJobApplicationStatus(jobApplication.status) | translate
                            }}
                        </span>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
}
}