<!-- Loading -->
@if (isLoading) {
    <app-loader />
} @else {
    <!-- No data -->
    @if (jobApplications.length === 0) {
        <div class="empty-list row d-flex justify-content-center align-items-center flex-column">
            <div class="col-6">
                <p style="text-align: center;">
                    {{ 'Talent.JobApplication.NoJobApplicationMessage' | translate }}
                </p>
            </div>
        </div>
    } @else {
        <div class="row">
            <div class="col-md-12">
                <be-data-table [data]="jobApplications" [columns]="jobApplicationsColumns" />
            </div>
        </div>
    }
}