<div class="row">
    <div class="col-md-9">

        @if (isLoading) {
        <app-loader/>
        } @else {
        <form [formGroup]="companyForm" (ngSubmit)="updateCompany()">
            <!-- Name -->
            <div class="row mt-3">
                <label for="inputName" class="form-label">
                    {{ 'Representative.AboutYou.FirstName' | translate }}
                </label>
                <input type="text" class="form-control" id="inputName" formControlName="name">
            </div>
            <!-- Phone Number -->
            <div class="row mt-3">
                <label for="inputPhoneNumber" class="form-label">
                    {{ 'Representative.AboutYou.FirstName' | translate }}
                </label>
                <input type="text" class="form-control" id="inputPhoneNumber" formControlName="phoneNumber">
            </div>
            <!-- Address -->
            <div class="row mt-3">
                <label for="inputAddress" class="form-label">
                    {{ 'Representative.AboutYou.FirstName' | translate }}
                </label>
                <input type="text" class="form-control" id="inputAddress" formControlName="address">
            </div>
            <!-- Save button -->
            <div class="row mt-3">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary w-25" [disabled]="isSaving">
                        <i class="me-2"
                            [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-floppy-disk': !isSaving }"></i>
                        {{ 'BUTTON.SAVE' | translate }}
                    </button>
                </div>
            </div>
        </form>
        }
    </div>
</div>