<div class="container">

    <div class="row d-flex justify-content-end">
        <div class="col-3 d-flex justify-content-end">
            <button class="btn" (click)="open(educationContent)">
                <i class="fa-solid fa-plus"></i> Add education
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Test</h5>
                    <p class="card-text">
                        <i class="fa-solid fa-location-dot"></i>
                        Test
                    </p>
                    <p class="card-text">
                        <i class="fa-solid fa-users-line"></i>
                        Test
                    </p>
                    <p class="card-text">
                        <i class="fa-solid fa-briefcase"></i>
                        Test
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- education modal -->
<ng-template #educationContent let-c="close" let-d="dismiss">
    <app-education-modal [closeModal]="c" [dismissModal]="d">
    </app-education-modal>
</ng-template>