<div class="container">

    @if (isLoading) {
    <div class="loading-spinner">
        <div class="spinner-border">
        </div>
    </div>
    }

    @if (educations.length === 0) {
    <div class="empty-list row d-flex justify-content-center align-items-center flex-column">
        <div class="col-6">
            <p style="text-align: center;">
                {{ 'Profile.Talent.Education.NoEducationMessage' | translate }}
            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <button class="btn" (click)="open(educationContent)">
                <i class="fa-solid fa-plus"></i>
                {{ 'Profile.Talent.Education.AddEducation' | translate }}

            </button>
        </div>
    </div>
    } @else {
    <div class="row d-flex justify-content-end">
        <div class="col-md-3 d-flex justify-content-end">
            <button class="btn" (click)="open(educationContent)">
                <i class="fa-solid fa-plus"></i>
                {{ 'Profile.Talent.Education.AddEducation' | translate }}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="card mb-3" *ngFor="let education of educations">
                <div class="card-body">
                    <h5 class="card-title">{{ education.institution }}</h5>
                    <p class="card-text">
                        {{ education.diploma }}, {{ education.domain }}
                    </p>
                    <p class="card-text">
                        {{ getMonthName(education.startMonth) }} {{ education.startYear }} - {{ getMonthName(education.finishMonth) }} {{
                        education.finishYear }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    }
</div>


<!-- education modal -->
<ng-template #educationContent let-c="close" let-d="dismiss">
    <app-education-modal [closeModal]="c" [dismissModal]="d">
    </app-education-modal>
</ng-template>