<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        @if (updateMode) {
        {{ 'Talent.Resume.Modal.UpdateTitle' | translate }}
        } @else {
        {{ 'Talent.Resume.Modal.CreationTitle' | translate }}
        }
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>

<div class="modal-body">
    <form [formGroup]="resumeForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-3" [ngClass]="{'col-3': selectedResume != null, 'col-12': selectedResume == null}">
                <!-- Title -->
                <div class="mb-4">
                    <label for="inputTitle" class="form-label">
                        {{ 'Talent.Resume.Modal.Body.Form.Title' | translate }}
                    </label>
                    <input type="text" class="form-control" id="inputTitle" formControlName="title"
                        [placeholder]="'Talent.Resume.Modal.Body.Form.TitlePlaceHolder' | translate">
                    @if ((resumeForm.get('title')?.invalid && resumeForm.get('title')?.touched)) {
                    <app-error-message [message]="'Talent.Resume.Modal.Body.Form.Validation.Title'"></app-error-message>
                    }
                </div>
                <!-- IsPrimary -->
                <div class="mb-4">
                    <input class="form-check-input me-2" type="checkbox" id="inputIsPrimary"
                        formControlName="isPrimary" [checked]="onlyResume">
                    <label class="form-check-label" for="inputIsPrimary">
                        {{ 'Talent.Resume.Modal.Body.Form.IsPrimary' | translate }}
                    </label>
                    <be-info [message]="'Talent.Resume.Modal.Body.Form.IsPrimaryInfo'"></be-info>
                </div>
                @if(!updateMode) {
                <!-- File -->
                <div class="mb-4">
                    <label for="formFile" class="form-label">
                        {{ 'Talent.Resume.Modal.Body.Form.File' | translate }}
                    </label>
                    <input class="form-control" type="file" id="formFile" accept="application/pdf"
                        (change)="onFileSelected($event)">
                    @if ((resumeForm.get('resume')?.errors?.['required'] && resumeForm.get('resume')?.touched)) {
                    <app-error-message
                        [message]="'Talent.Resume.Modal.Body.Form.Validation.FileRequired'"></app-error-message>
                    }
                    @if ((resumeForm.get('resume')?.errors?.['invalidFileType'] && resumeForm.get('resume')?.touched)) {
                    <app-error-message
                        [message]="'Talent.Resume.Modal.Body.Form.Validation.FileType'"></app-error-message>
                    }
                </div>
                }
            </div>
            <div class="col-9" *ngIf="selectedResume != null">
                @if(resumeUrl) {
                <iframe [src]="resumeUrl" width="100%" height="800px">
                </iframe>
                }
            </div>
        </div>
        <!-- Save -->
        <div class="mb-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-50">
                @if (updateMode) {
                <i class="me-2"
                    [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-floppy-disk': !isSaving }"></i>
                {{ 'BUTTON.SAVE' | translate }}
                } @else {
                <i class="me-2"
                    [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-circle-plus': !isSaving }"></i>
                {{ 'BUTTON.CREATE' | translate }}
                }
            </button>
        </div>
    </form>
</div>