<div class="job-details" *ngIf="jobOffer">
    <!-- Job offer Title -->
    <h2>
        {{ jobOffer.title }}
    </h2>
    <!-- Company name -->
    <h6>
        {{ jobOffer.companyName }}
    </h6>
    <!-- Location -->
    <div>
        <i class="fa-solid fa-location-dot"></i> 
        {{ jobOffer.location }}
    </div>
    <!-- Job offer type -->
    <div>
        <i class="fa-solid fa-briefcase"></i>
        {{ 'JobType.' + getJobTypeName(jobOffer.type) | translate }}
    </div>
    <hr>
    <h5>
        {{ 'JobOffers.JobDetails.JobDetails' | translate }}
    </h5>
    <!-- Description -->
    <p class="description" [innerHTML]="sanitizedDescription(jobOffer.description)">
    </p>
</div>
<div *ngIf="!jobOffer" class="text-center">
    <p>Select a job to see details</p>
</div>