<div class="job-details" *ngIf="jobOffer">
    <div class="job-header">
        <!-- Job offer Title -->
        <h2>
            {{ jobOffer.title }}
        </h2>
        <div class="button-group">
            @if (this.canApply) {
                <button class="btn btn-primary" (click)="apply()">
                    @if (isSaving) {
                        <i class="fa fa-spin fa-spinner"></i>
                    } @else { 
                        {{ 'JobOffers.JobDetails.Apply' | translate }}
                    }
                </button>
                <button class="btn btn-primary save-job-btn">
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            }
        </div>
    </div>
    <!-- Company name -->
    <h6>
        {{ jobOffer.companyName }}
    </h6>
    <!-- Location -->
    <div>
        <i class="fa-solid fa-location-dot"></i>
        {{ jobOffer.location }}
    </div>
    <!-- Job offer type -->
    <div>
        <i class="fa-solid fa-briefcase"></i>
        {{ 'JobType.' + getJobTypeName(jobOffer.type) | translate }}
    </div>
    <!-- Job offer salary -->
     @if (jobOffer.salary) {
         <div>
             <i class="fa-solid fa-money-bills"></i>
             {{ jobOffer.salary}}
         </div>
     }
    <hr>
    <h5>
        {{ 'JobOffers.JobDetails.JobDetails' | translate }}
    </h5>
    <!-- Description -->
    <p class="description" [innerHTML]="sanitizedDescription(jobOffer.description)">
    </p>
</div>
<div *ngIf="!jobOffer" class="text-center">
    <p>Select a job to see details</p>
</div>