.container-fluid {
    overflow: hidden;

    .row {
        display: flex;
        height: 100vh;

        .column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex: 1;
            overflow: hidden;
            transition: all 0.5s ease;
            color: white;
            
            &#first-column {
                background-color: #003366; /* primary-color */
            }

            &#second-column {
                background-color: #0099CC; /* secondary-color */
            }

            .btn-sign-up {
                background-color: white;
                font-weight: bold;
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
                transition: all 0.3s ease;


                &.job-seeker {
                    color: #003366; /* primary-color */
                }

                &.recruiter {
                    color: #0099CC; /* secondary-color */
                }
            }

            .btn-sign-up:hover {
                box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
                transform: translateY(-1px);
            }
        }

        // Media query to switch to vertical layout on smaller screens
        @media (max-width: 767.98px) {
            flex-direction: column; // Switch to vertical layout
        }
    }
}