<div class="container-fluid">

    <div class="row">

        <!-- First Column -->
        <div class="column" id="first-column" routerLink="/job/job-offers">
            <h1 class="text-center">SEARCHING FOR A JOB ?</h1>
            <!-- <button class="btn btn-primary">Find you're Dream Job</button> -->
        </div>

        <!-- Second Column -->
        <div class="column" id="second-column" routerLink="/job/job-offers">
            <h1 class="text-center">YOU'RE A RECRUITER ?</h1>
            <!-- <button class="btn btn-secondary">Find Talents</button> -->
        </div>

    </div>

</div>