<app-header-simplified></app-header-simplified>

<div class="container-fluid">

    <div class="row">

        <!-- First Column : JOB SEEKER-->
        <div class="column justify-content-evenly" id="first-column">

            <h2 class="text-center d-none d-md-block">
                {{ 'SignUp.JobSeeker.Title' | translate }}
            </h2>

            <div class="d-flex justify-content-center align-items-center flex-column">
                <img src="assets\images\man-wearing-a-tie.svg" alt="Description of the image" width="200">
                <button class="btn btn-sign-up job-seeker" (click)="open(signupContent, 'job-seeker')">
                    {{ 'SignUp.JobSeeker.Button' | translate }}
                </button>
            </div>

            <div class="d-flex justify-content-center align-items-center flex-column">
                <p class="m-0">
                    {{ 'SignUp.HaveAccount' | translate }}
                </p>
                <button class="btn btn-sign-up job-seeker mt-2" (click)="open(loginContent, 'job-seeker')">
                    {{ 'SignUp.Login' | translate }}
                </button>
            </div>

        </div>

        <!-- Second Column : RECRUITER-->
        <div class="column justify-content-evenly" id="second-column">

            <h2 class="text-center d-none d-md-block">
                {{ 'SignUp.Recruiter.Title' | translate }}
            </h2>

            <div class="d-flex justify-content-center align-items-center flex-column">
                <img src="assets\images\woman-with-magnifying-glass.svg" alt="Description of the image" width="200">
                <button class="btn btn-sign-up recruiter" (click)="open(signupContent, 'recruiter')">
                    {{ 'SignUp.Recruiter.Button' | translate }}
                </button>
            </div>

            <div class="d-flex justify-content-center align-items-center flex-column">
                <p class="m-0">
                    {{ 'SignUp.HaveAccount' | translate }}
                </p>
                <button class="btn btn-sign-up recruiter mt-2" (click)="open(loginContent, 'recruiter')">
                    {{ 'SignUp.Login' | translate }}
                </button>
            </div>

        </div>

    </div>

</div>

<!-- login modal -->
<ng-template #loginContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{ 'Login.Modal.Title' | translate }}
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="inputLoginEmail" class="form-label">
                    {{ 'Login.Modal.Body.Form.EmailLabel' | translate }}
                </label>
                <input type="email" class="form-control" id="inputLoginEmail">
            </div>
            <div class="mb-3">
                <label for="inputLoginPassword" class="form-label">
                    {{ 'Login.Modal.Body.Form.PasswordLabel' | translate }}
                </label>
                <input type="password" class="form-control" id="inputLoginPassword">
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <button type="button" class="btn btn-primary w-50" (click)="c('Save click')">
                    {{ 'Login.Modal.Body.Form.SubmitButton' | translate }}
                </button>
            </div>
        </form>
    </div>
</ng-template>

<!-- sign-up modal -->
<ng-template #signupContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{ 'SignUp.Modal.Title' | translate }}
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p> {{ 'SignUp.Modal.Body.FirstLine' | translate }} </p>
        <p> {{ 'SignUp.Modal.Body.SecondLine' | translate }} </p>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="inputFirstName"
                        [placeholder]="'SignUp.Modal.Body.Form.FirstName' | translate" formControlName="firstName">
                    <div *ngIf="signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched"
                        class="text-danger">
                        First name is required.
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="inputLastName"
                        [placeholder]="'SignUp.Modal.Body.Form.LastName' | translate" formControlName="lastName">
                    <div *ngIf="signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched"
                        class="text-danger">
                        Last name is required.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                    [placeholder]="'SignUp.Modal.Body.Form.Email' | translate" formControlName="email">
                <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched" class="text-danger">
                    A valid email is required.
                </div>
            </div>
            <div class="mb-3">
                <div class="password-input input-group">
                    <input [type]="passwordVisible ? 'text' : 'password'" class="form-control" id="inputPassword"
                        [placeholder]="'SignUp.Modal.Body.Form.Password' | translate" formControlName="password">
                    <span class="input-group-text" (click)="togglePasswordVisibility()">
                        <i class="fa-solid" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </span>
                </div>
                <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched"
                    class="text-danger">
                    Password is required and must be at least 6 characters.
                </div>
            </div>
            <div class="mb-3">
                <div class="password-input input-group">
                    <input [type]="confirmPasswordVisible ? 'text' : 'password'" class="form-control" id="inputConfirmPassword"
                        [placeholder]="'SignUp.Modal.Body.Form.ConfirmPassword' | translate"
                        formControlName="confirmPassword">
                    <span class="input-group-text" (click)="toggleConfirmPasswordVisibility()">
                        <i class="fa-solid" [ngClass]="confirmPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </span>
                </div>
                <div *ngIf="signUpForm.errors?.['mismatch'] && signUpForm.get('confirmPassword')?.touched"
                    class="text-danger">
                    Passwords must match.
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary w-50">
                    <i class="fa-solid fa-lock me-2"></i>
                    <span *ngIf="selectedRole == 'recruiter'">
                        {{ 'SignUp.Modal.Body.Form.SubmitButtonRecruter' | translate }}
                    </span>
                    <span *ngIf="selectedRole == 'job-seeker'">
                        {{ 'SignUp.Modal.Body.Form.SubmitButtonJobSeeker' | translate }}
                    </span>
                </button>
            </div>
        </form>
    </div>
</ng-template>