<app-header-simplified></app-header-simplified>

<div class="container-fluid">

    <div class="row">

        <!-- 1st Column : JOB SEEKER -->
        <div class="column justify-content-evenly" id="first-column">

            <h2 class="text-center d-none d-md-block">
                {{ 'SignUp.Talent.Title' | translate }}
            </h2>

            <div class="d-flex justify-content-center align-items-center flex-column">
                <img src="assets\images\man-wearing-a-tie.svg" alt="Description of the image" width="200">
                <button class="btn btn-sign-up job-seeker" (click)="open(signupContent, UserRole.Talent)">
                    {{ 'SignUp.Talent.Button' | translate }}
                </button>
            </div>

            <div class="d-flex justify-content-center align-items-center flex-column">
                <p class="m-0">
                    {{ 'SignUp.HaveAccount' | translate }}
                </p>
                <button class="btn btn-sign-up job-seeker mt-2" (click)="open(loginContent, UserRole.Talent)">
                    {{ 'SignUp.Login' | translate }}
                </button>
            </div>

        </div>

        <!-- 2nd Column : RECRUITER -->
        <div class="column justify-content-evenly" id="second-column">

            <h2 class="text-center d-none d-md-block">
                {{ 'SignUp.Recruiter.Title' | translate }}
            </h2>

            <div class="d-flex justify-content-center align-items-center flex-column">
                <img src="assets\images\woman-with-magnifying-glass.svg" alt="Description of the image" width="200">
                <button class="btn btn-sign-up recruiter" (click)="open(signupContent, UserRole.Recruiter)">
                    {{ 'SignUp.Recruiter.Button' | translate }}
                </button>
            </div>

            <div class="d-flex justify-content-center align-items-center flex-column">
                <p class="m-0">
                    {{ 'SignUp.HaveAccount' | translate }}
                </p>
                <button class="btn btn-sign-up recruiter mt-2" (click)="open(loginContent, UserRole.Recruiter)">
                    {{ 'SignUp.Login' | translate }}
                </button>
            </div>

        </div>

    </div>

</div>

<!-- login modal -->
<ng-template #loginContent let-c="close" let-d="dismiss">
    <app-login-modal [closeModal]="c" [dismissModal]="d">
    </app-login-modal>
</ng-template>

<!-- sign-up modal -->
<ng-template #signupContent let-c="close" let-d="dismiss">
    <app-register-modal [userRole]="selectedUserRole" [closeModal]="c" [dismissModal]="d">
    </app-register-modal>
</ng-template>