<!-- Page 1 : Option selection (Login/Sign Up Or Express Apply) -->
@if(!expressApplyMode) {
<!-- Modal Header -->
<div class="modal-header">
    <div class="fs-3">
        <i class="me-2 fa-regular fa-user"></i>
        {{ "Recruiter.ExpressApplyModal.FistPage.HeaderTitle" | translate }}
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>

</div>
<!-- Modal Body -->
<div class="modal-body">
    <!-- First and second line -->
    <div class="row">
        <div class="col-12">
            <p>{{ "Recruiter.ExpressApplyModal.FistPage.FirstLine" | translate }}</p>
            <p>{{ "Recruiter.ExpressApplyModal.FistPage.SecondLine" | translate }}</p>
        </div>
    </div>
    <!-- Buttons -->
    <div class="row justify-content-center mb-2">
        <button class="btn btn-primary col-9">
            <i class="me-2 fa-solid fa-key"></i>
            {{ "Recruiter.ExpressApplyModal.FistPage.LoginSignup" | translate }}
        </button>
    </div>
    <div class="row justify-content-center mb-2">
        <button class="btn btn-light col-9" (click)="expressApplyMode=true">
            <i class="me-2 fa-solid fa-rocket"></i>
            {{ "Recruiter.ExpressApplyModal.FistPage.ExpressApply" | translate }}
        </button>
    </div>
    <!-- Third line -->
    <div class="row">
        <div class="col-12">
            <p> {{ "Recruiter.ExpressApplyModal.FistPage.ThirdLine" | translate }} </p>
        </div>
    </div>
</div>
}
<!-- Page 2 : Express Apply Mode -->
@if (expressApplyMode) {
<!-- Modal Header -->
<div class="modal-header">
    <div class="fs-3">
        <i class="me-2 fa-solid fa-rocket"></i>
        {{ "Recruiter.ExpressApplyModal.ExpressApplyPage.HeaderTitle" | translate }}
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>
<!-- Modal Body -->
<div class="modal-body">
    <!-- First line -->
    <div class="row">
        <div class="col-12">
            {{ "Recruiter.ExpressApplyModal.ExpressApplyPage.FirstLine" | translate }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="expressApplyForm">
                <!-- Line 1: Full name -->
                <div class="row mt-3">
                    <!-- First name -->
                    <div class="col-md-6">
                        <label for="inputFirstName" class="form-label">
                            {{ 'Talent.EditProfile.FirstName' | translate }}
                        </label>
                        <input type="text" class="form-control" id="inputFirstName" formControlName="firstName">
                        @if ((expressApplyForm.get('firstName')?.invalid && expressApplyForm.get('firstName')?.touched)) {
                        <div class="text-danger">
                            {{ 'Talent.EditProfile.Validation.FirstName' | translate }}
                        </div>
                        }
                    </div>
                    <!-- Last name -->
                    <div class="col-md-6">
                        <label for="inputLastName" class="form-label">
                            {{ 'Talent.EditProfile.LastName' | translate }}
                        </label>
                        <input type="text" class="form-control" id="inputLastName" formControlName="lastName">
                        @if ((expressApplyForm.get('lastName')?.invalid && expressApplyForm.get('lastName')?.touched)) {
                        <div class="text-danger">
                            {{ 'Talent.EditProfile.Validation.LastName' | translate }}
                        </div>
                        }
                    </div>
                </div>
                <!-- Line 2: Email -->
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="inputEmail" class="form-label">
                            {{ 'Talent.EditProfile.Email' | translate }}
                        </label>
                        <input type="email" class="form-control" id="inputEmail" formControlName="email">
                    </div>
                </div>
                <!-- Line 3: Phone-->
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="inputPhone" class="form-label">
                            {{ 'Talent.EditProfile.Phone' | translate }}
                        </label>
                        <ngx-intl-tel-input [cssClass]="'form-control'" [enableAutoCountrySelect]="false"
                            [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                            [onlyCountries]="[CountryISO.Canada, CountryISO.France, CountryISO.Tunisia ]"
                            [selectFirstCountry]="false" [selectedCountryISO]="selectedCountryISO" [maxLength]="15"
                            [phoneValidation]="true" name="phone" formControlName="phone" id="inputPhone"
                            (countryChange)="onPhoneCountryChange()">
                        </ngx-intl-tel-input>
                        @if ((expressApplyForm.get('phone')?.invalid && expressApplyForm.get('phone')?.touched)) {
                        <div class="text-danger">
                            {{ 'Talent.EditProfile.Validation.PhoneNumber' | translate }}
                        </div>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Bottom line -->
    <div class="row">
        <div class="col-12">
            <i class="me-2 fa-solid fa-lightbulb"></i> {{ "Recruiter.ExpressApplyModal.ExpressApplyPage.SecondLine" |
            translate }}
        </div>
    </div>
</div>
}