@import '../../../../assets/styles/styles-variables.scss';

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-body {
  animation: fadeIn 0.5s ease forwards;
}

.nav-pills .nav-link.active{
  background-color: $secondary-color;
}

.nav-pills .nav-link {
  color: $secondary-color;
}

.max-width-400 {
  max-width: 400px;
}