<!-- Modal Header -->
<div class="modal-header">
    <i class="me-2 fa-regular fa-user"></i>
    Apply to this job

    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>

</div>

<!-- Step 1 : Option selection (Company/Freelancer recruiter) -->
@if(currentStep === 1) {
    <!-- Modal Body -->
    <div class="modal-body">
        <p>Apply in seconds without creating a profile.</p>
        <p>You can choose how you want to apply:</p>
        <div class="row justify-content-center mb-2">
            <button class="btn btn-primary col-9">
                <i class="me-2 fa-solid fa-key"></i>
                Login/Sign Up
            </button>
        </div>
        <div class="row justify-content-center mb-2">
            <button class="btn btn-light col-9">
                <i class="me-2 fa-solid fa-rocket"></i>
                Express Apply
            </button>
        </div>
        <p>
            By applying, you agree to our Terms of Service
        </p>
    </div>
}
<!-- Step 2 : Verification Process -->
@if (currentStep === 2) {
    <!-- Modal Body -->
    <div class="modal-body">
        <p [innerHTML]="'SignUp.Recruiter.Modal.Step2.Body.Line1' | translate"></p>
        <p [innerHTML]="'SignUp.Recruiter.Modal.Step2.Body.Line2' | translate"></p>
        <p [innerHTML]="'SignUp.Recruiter.Modal.Step2.Body.Line3' | translate"></p>
        <p [innerHTML]="'SignUp.Recruiter.Modal.Step2.Body.Line4' | translate"></p>
        <p [innerHTML]="'SignUp.Recruiter.Modal.Step2.Body.Line5' | translate"></p>
        <p [innerHTML]="'SignUp.Recruiter.Modal.Step2.Body.Line6' | translate"></p>
    </div>
}


<!-- Modal Footer -->
<!-- <div class="modal-footer justify-content-around">
    <button class="btn btn-primary" [ngClass]="{ 'w-25': !(selectedOption === 'company' && currentStep === maxSteps) }"
        (click)="goToPreviousStep()" [disabled]="currentStep === 1">
        <i class="me-2 fa-solid fa-circle-left"></i>
        {{ 'SignUp.Recruiter.Modal.Footer.PreviousButton' | translate }}
    </button>
    <button class="btn btn-primary w-25" (click)="goToNextStep()" *ngIf="currentStep < maxSteps"
        [disabled]="selectedOption == null">
        {{ 'SignUp.Recruiter.Modal.Footer.NextButton' | translate }}
        <i class="ms-2 fa-solid fa-circle-right"></i>
    </button>
    <button class="btn btn-primary"
        [ngClass]="{ 'w-50': selectedOption !== 'company', 'w-25': selectedOption === 'company'}" (click)="onSubmit()"
        *ngIf="currentStep === maxSteps" [disabled]="isLoading">
        <i class="me-2" [ngClass]="{'fa fa-spin fa-spinner': isLoading, 'fa-solid fa-lock': !isLoading}"></i>
        {{ 'SignUp.Recruiter.Modal.Footer.SubmitButton' | translate }}
    </button>
</div> -->