@import '../../../../assets/styles/styles-variables.scss';

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-body {
  animation: fadeIn 0.5s ease forwards;
}

.nav-pills .nav-link.active{
  background-color: $fourth-color;
}

.nav-pills .nav-link {
  color: $fourth-color;
}

.max-width-450 {
  max-width: 450px;
}