<!-- Page 1 : Option selection (Login/Sign Up Or Express Apply) -->
@if(!expressApplyMode && !expressApplyLoginSignUpMode) {
<!-- Modal Header -->
<div class="modal-header">
  <div class="fs-3">
    <i class="me-2 fa-regular fa-user"></i>
    {{ "Recruiter.ExpressApplyModal.FistPage.HeaderTitle" | translate }}
  </div>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>

</div>
<!-- Modal Body -->
<div class="modal-body">
  <!-- First and second line -->
  <div class="row">
    <div class="col-12">
      <p>{{ "Recruiter.ExpressApplyModal.FistPage.FirstLine" | translate }}</p>
      <p>{{ "Recruiter.ExpressApplyModal.FistPage.SecondLine" | translate }}</p>
    </div>
  </div>
  <!-- Buttons -->
  <div class="row justify-content-center mb-2">
    <button class="btn btn-primary col-9" (click)="expressApplyLoginSignUpMode=true">
      <i class="me-2 fa-solid fa-key"></i>
      {{ "Recruiter.ExpressApplyModal.FistPage.LoginSignup" | translate }}
    </button>
  </div>
  <div class="row justify-content-center mb-2">
    <button class="btn btn-light col-9" (click)="expressApplyMode=true">
      <i class="me-2 fa-solid fa-rocket"></i>
      {{ "Recruiter.ExpressApplyModal.FistPage.ExpressApply" | translate }}
    </button>
  </div>
  <!-- Third line -->
  <div class="row">
    <div class="col-12">
      <p> {{ "Recruiter.ExpressApplyModal.FistPage.ThirdLine" | translate }} </p>
    </div>
  </div>
</div>
}

<!-- Page 2 : Express Apply Mode -->
@if (expressApplyMode) {
<!-- Modal Header -->
<div class="modal-header">
  <div class="fs-3">
    <i class="me-2 fa-solid fa-rocket"></i>
    {{ "Recruiter.ExpressApplyModal.ExpressApplyPage.HeaderTitle" | translate }}
  </div>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>
<!-- Modal Body -->
<div class="modal-body">
  <!-- First line -->
  <div class="row">
    <div class="col-12">
      {{ "Recruiter.ExpressApplyModal.ExpressApplyPage.FirstLine" | translate }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="expressApplyForm" (ngSubmit)="onSubmit()">
        <!-- Line 1: Full name -->
        <app-full-name-input [form]="expressApplyForm"/>
        <!-- Line 2: Email -->
        <div class="row mt-3">
          <div class="col-12">
            <be-email-input [form]="expressApplyForm"/>
          </div>
        </div>
        <!-- Line 3: CV-->
        <div class="row mt-3">
          <div class="col-md-12">
            <input class="form-control" type="file" id="formFile" accept="application/pdf"
              (change)="onFileSelected($event)">
            @if((expressApplyForm.get('cv')?.errors?.['required'] && expressApplyForm.get('cv')?.touched)) {
            <app-error-message [message]="'SHARED.FORM-CONTROLS.VALIDATION.CV-REQUIRED'"></app-error-message>
            }
            @if((expressApplyForm.get('cv')?.errors?.['invalidFileType'] && expressApplyForm.get('cv')?.touched)) {
            <app-error-message [message]="'SHARED.FORM-CONTROLS.VALIDATION.CV-INVALID'"></app-error-message>
            }
          </div>
        </div>
        <!-- Line 4: Phone-->
        <div class="row mt-3">
          <div class="col-md-6">
            <be-phone-input [form]="expressApplyForm" />
          </div>
        </div>
        <!-- Line 5: Submit application / Return-->
        <div class="row mt-3">
          <div class="col-md-6">
            <button class="btn btn-light w-100" (click)="expressApplyMode=false">
              <i class="me-2 fa-solid fa-circle-left"></i>
              Return
            </button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary w-100">
              @if (isSaving) {
              <i class="fa fa-spin fa-spinner"></i>
              } @else {
              <i class="me-2 fa-solid fa-clipboard-check"></i>
              Apply
              }
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Bottom line -->
  <div class="row mt-3">
    <div class="col-12">
      <i class="me-2 fa-solid fa-lightbulb"></i> {{ "Recruiter.ExpressApplyModal.ExpressApplyPage.SecondLine" |
      translate }}
    </div>
  </div>
</div>
}

<!-- Page 3 : Express Apply Login / Sign Up  -->
@if (expressApplyLoginSignUpMode) {
<div class="modal-header">
  <div class="fs-3">
    <i class="me-2 fa-regular fa-user"></i>
    {{ "Recruiter.ExpressApplyModal.FistPage.HeaderTitle" | translate }}
  </div>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="container py-4">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-pills justify-content-center mb-4">
      <!-- Tab 1: Login -->
      <li [ngbNavItem]="1">
        <button ngbNavLink>
          <i class="fa-regular fa-user me-2"></i>{{ "BUTTON.LOGIN" | translate }}
        </button>
        <ng-template ngbNavContent>
          <form class="mx-auto" style="max-width: 400px;" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <!-- Email -->
            <div class="mb-3">
              <be-email-input [form]="loginForm" />
            </div>
            <div class="mb-3 d-flex justify-content-end">
              <a href="#" class="small text-decoration-none">{{"LINK.FORGOT-PASSWORD" | translate }}</a>
            </div>
            <!-- Password -->
            <div class="mb-3">
              <be-password-input [form]="loginForm" />
            </div>
            <div class="mb-3">
              <app-login-button [isLoading]="isLoading" />
            </div>
            <div class="text-center my-3 text-muted">
              <span>{{"LABEL.OR" | translate}}</span>
            </div>
            <button type="button" class="btn btn-outline-secondary w-100 mb-2">
              <i class="fab fa-google me-2"></i>{{ "BUTTON.CONTINUE-WITH-GOOGLE" | translate }}
            </button>
            <div class="text-center mt-3">
              <span>Don't have an account yet? <a href="#" class="fw-bold" (click)="activeTab = 2">Sign up</a></span>
            </div>
          </form>
        </ng-template>
      </li>
      <!-- Tab 2: Sign Up -->
      <li [ngbNavItem]="2">
        <button ngbNavLink>
          <i class="fa-solid fa-user-plus me-2"></i>{{ "BUTTON.SIGN-UP" | translate }}
        </button>
        <ng-template ngbNavContent>
          <form class="mx-auto" style="max-width: 400px;" [formGroup]="signupForm">
            <!-- Full Name -->
            <div class="mb-4">
              <app-full-name-input [form]="signupForm"/>
            </div>
            <!-- Email -->
            <div class="mb-3">
              <be-email-input [form]="signupForm"/>
            </div>
            <!-- Password -->
            <div class="mb-3">
              <be-password-input [form]="signupForm" />
            </div>
            <!-- Confirm Password -->
            <div class="mb-3">
              <be-password-input [form]="signupForm" [controlName]="'confirmPassword'" [label]="'SHARED.FORM-CONTROLS.VALIDATION.PASSWORD-MISMATCH'" />
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-3">
              <i class="me-2" [ngClass]="{'fa fa-spin fa-spinner': isLoading, 'fa-solid fa-lock': !isLoading}"></i>
              {{ 'BUTTON.CREATE-ACCOUNT' | translate }}
            </button>
            <div class="text-center my-3 text-muted">
              <span>{{"LABEL.OR" | translate}}</span>
            </div>
            <button type="button" class="btn btn-outline-secondary w-100 mb-2">
              <i class="fab fa-google me-2"></i>{{ "BUTTON.CONTINUE-WITH-GOOGLE" | translate }}
            </button>
            <div class="text-center mt-3">
              <span>Already have an account? <a href="#" class="fw-bold" (click)="activeTab = 1">Login</a></span>
            </div>
          </form>
        </ng-template>
      </li>
    </ul>
  </div>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
}