<div class="row">
    <div class="col-md-6">
        <form [formGroup]="generaleForm">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="inputFirstName"
                        [placeholder]="'Profile.Talent.FirstName' | translate" formControlName="firstName">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="inputLastName"
                        [placeholder]="'Profile.Talent.LastName' | translate" formControlName="lastName">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <input type="email" class="form-control" id="inputEmail"
                        [placeholder]="'Profile.Talent.Email' | translate" formControlName="email">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <input type="text" class="form-control" [placeholder]="'Profile.Talent.DateOfBirth' | translate"
                        bsDatepicker [bsConfig]="bsConfig">
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-select">
                            <option value="1">{{ 'Profile.Talent.GenderMale' | translate }}</option>
                            <option value="2">{{ 'Profile.Talent.GenderFemale' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="inputAddress"
                        [placeholder]="'Profile.Talent.Address' | translate" formControlName="address">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="inputPhone"
                        [placeholder]="'Profile.Talent.Phone' | translate" formControlName="phone">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn w-25">
                        <i class="fa-solid fa-floppy-disk me-2"></i>
                        {{ 'Profile.Save' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>