@import '../../../../assets/styles/styles-variables.scss';

.container-fluid {
    background-color: white;
    height: 87vh;
    border-radius: 5px;
}

.nav-link {
    font-weight: bold;
    color: $text-color;
    &.active {
        background-color: rgba(0, 153, 204, 0.2);
        border-radius: 5px;
        color: $secondary-color;
    }
}

.nav-header {
    user-select: none;
    margin: 0.5rem 0;
}