<div class="container-fluid dashboard-container col-lg-10 col-12 mt-5 p-3">

    <div class="row mt-3">
        <div class="col-md-3">
            <ul class="nav dashboard-nav flex-column">
                <!-- Profile -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="talent-profile" routerLinkActive="active">
                        <i class="fa-solid fa-circle-info me-2"></i>
                        {{ 'Profile.Sections.Profile' | translate }}
                    </a>
                </li>
                <!-- Job Applications -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="job-application" routerLinkActive="active">
                        <i class="fa-solid fa-bullhorn me-2"></i>
                        {{ 'Profile.Sections.JobApplications' | translate }}
                    </a>
                </li>
                <!-- Saved jobs -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="saved-jobs" routerLinkActive="active">
                        <i class="fa-solid fa-bookmark me-2"></i>
                        {{ 'Profile.Sections.SavedJobs' | translate }}
                    </a>
                </li>
                <!-- Settings -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="settings" routerLinkActive="active">
                        <i class="fa-solid fa-gear me-2"></i>
                        {{ 'Profile.Sections.Settings' | translate }}
                    </a>
                </li>
                <!-- Security -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="security" routerLinkActive="active">
                        <i class="fa-solid fa-shield-halved me-2"></i>
                        {{ 'Profile.Sections.Security' | translate }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>