<form [formGroup]="settingForm" (ngSubmit)="saveSetting()">
    <div class="row mt-3">
        <div class="col-md-3">
            <label for="languageSelect" class="form-label">
                {{ 'Settings.Language.Label' | translate }}
            </label>
            <select id="languageSelect" class="form-select" formControlName="language">
                <option value="en">{{ 'Settings.Language.English' | translate }}</option>
                <option value="fr">{{ 'Settings.Language.French' | translate }}</option>
            </select>
        </div>
    </div>
    <!-- Save button -->
    <div class="row mt-3">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary w-25" [disabled]="isSaving">
                <i class="me-2"
                    [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-floppy-disk': !isSaving }"></i>
                {{ 'BUTTON.SAVE' | translate }}
            </button>
        </div>
    </div>
</form>