@import '../../../../assets/styles/styles-variables.scss';

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $primary-color;
    color: #ffffff;
}


.nav-link {
    font-size: 18px;
}

.nav-text {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease;
  &:before {
    content: '';
    display:block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .35s ease;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: $text-color;
    transition: width .35s ease;
  }
  &:hover:before {
    width: 100%;
    background: $text-color;
    transition: width .35s ease;
  }
  &:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
  }
}

.navbar-brand {
    span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        overflow: hidden;
    }

    img {
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}

.profile-picture {
    cursor: pointer;

    img {
        border-radius: 50%;
        background-color: white;
        padding: 2px;
        object-fit: cover;
        width: 40px;
    }
}

.notification {
    .icon {
        cursor: pointer;

        &::after {
            content: none;
        }
    }

    .message {
        cursor: pointer;
        user-select: none;
    }

    .isRead {
        color: $secondary-color;
    }
}