<nav class="navbar navbar-expand-lg navbar-dark" *ngIf="showHeader">

  <!-- Logo -->
  <a class="navbar-brand ps-3" routerLink="/home">
    Navbar
  </a>

  <!-- Navbar menu items for larger screens -->
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <!-- JobOffers -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/job/job-offers" routerLinkActive="active">
          {{ 'Navbar.Menu.JobOffers' | translate }}
        </a>
      </li>
      <!-- Companies -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/job/companies" routerLinkActive="active">
          {{ 'Navbar.Menu.Companies' | translate }}
        </a>
      </li>
      @if (isMenuItemVisible) {
      <li class="nav-item">
        <a class="nav-link" routerLink="/career-development/test" routerLinkActive="active">
          {{ 'Navbar.Menu.Tests' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/career-development/training" routerLinkActive="active">
          {{ 'Navbar.Menu.Training' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cv/cv-creation" routerLinkActive="active">
          {{ 'Navbar.Menu.CVCreation' | translate }}
        </a>
      </li>
      }
      @if (!isAuthenticated) {
      <!-- Signup -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/sign-up" routerLinkActive="active">
          {{ 'Navbar.Menu.SignUp' | translate }}
        </a>
      </li>
      <!-- Login -->
      <li class="nav-item">
        <a class="nav-link" (click)="open(loginContent)">
          {{ 'Navbar.Menu.LogIn' | translate }}
        </a>
      </li>
      } @else {
        <li class="nav-item">
          <a class="nav-link" (click)="open(loginContent)">
            <i class="fa-solid fa-bell fa-lg me-1"></i>
          </a>
        </li>

        <!-- Notification dropdown -->
        <div ngbDropdown class="d-inline-block d-flex justify-content-center align-items-center"
          display="dynamic">
          <i class="fa-solid fa-bell fa-lg me-1" ngbDropdownToggle></i>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLink]="getProfileLink()">
              <i class="fa-solid fa-user me-2"></i>
              {{ 'Navbar.Account.Profile' | translate }}
            </button>
            <hr>
            <button ngbDropdownItem (click)="logout()">
              <i class="fa-solid fa-right-from-bracket me-2" style="transform: rotateY(180deg);"></i>
              {{ 'Navbar.Account.Logout' | translate }}
            </button>
          </div>
        </div>

        <!-- Profile dropdown -->
        <div ngbDropdown class="d-inline-block d-flex justify-content-center align-items-center profile-picture"
          display="dynamic">
          <img [src]="profilePicture" class="ms-2 me-2" ngbDropdownToggle>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLink]="getProfileLink()">
              <i class="fa-solid fa-user me-2"></i>
              {{ 'Navbar.Account.Profile' | translate }}
            </button>
            <hr>
            <button ngbDropdownItem (click)="logout()">
              <i class="fa-solid fa-right-from-bracket me-2" style="transform: rotateY(180deg);"></i>
              {{ 'Navbar.Account.Logout' | translate }}
            </button>
          </div>
        </div>
      }
    </ul>

    <!-- Language Buttons -->
    @if (translate.currentLang == 'fr') {
    <img class="language-button ms-3 me-3" src="assets\images\flags\uk.svg" width="20" (click)="changeLanguage()">
    } @else if (translate.currentLang == 'en') {
    <img class="language-button ms-3 me-3" src="assets\images\flags\france.svg" width="20" (click)="changeLanguage()">
    }

  </div>

  <!-- Toggle button for small screens -->
  <button class="navbar-toggler me-3" type="button" (click)="openOffcanvas(content)">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>

<!-- Navbar menu items for smaller screens -->
<ng-template #content let-offcanvas>

  <div class="offcanvas-header">
    <button type="button" class="btn-close" (click)="closeOffcanvas()"></button>
  </div>

  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/job/job-offers">
          {{ 'Navbar.Menu.JobOffers' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/job/companies">
          {{ 'Navbar.Menu.Companies' | translate }}
        </a>
      </li>
      @if (isMenuItemVisible) {
      <li class="nav-item">
        <a class="nav-link" routerLink="/career-development/test">
          {{ 'Navbar.Menu.Tests' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/career-development/training">
          {{ 'Navbar.Menu.Training' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cv/cv-creation">
          {{ 'Navbar.Menu.CVCreation' | translate }}
        </a>
      </li>
      }
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/sign-up">
          {{ 'Navbar.Menu.SignUp' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="open(loginContent)">
          {{ 'Navbar.Menu.LogIn' | translate }}
        </a>
      </li>
    </ul>

    <!-- Language Buttons -->
    @if (translate.currentLang == 'fr') {
    <img class="language-button ms-3 me-3" src="assets\images\flags\uk.svg" width="20" (click)="changeLanguage()">
    } @else if (translate.currentLang == 'en') {
    <img class="language-button ms-3 me-3" src="assets\images\flags\france.svg" width="20" (click)="changeLanguage()">
    }
  </div>

</ng-template>

<!-- login modal -->
<ng-template #loginContent let-c="close" let-d="dismiss">
  <app-login-modal [closeModal]="c" [dismissModal]="d">
  </app-login-modal>
</ng-template>