nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

.last-menu-item {
    border-right: 1px solid rgba(255, 255, 255, 0.55);
}

.navbar {
    background-color: var(--primary-color);
    color: #ffffff;
}

