<nav class="navbar navbar-expand-lg navbar-dark" *ngIf="showHeader">

  <!-- Logo -->
  <a class="navbar-brand ps-3" routerLink="/home">
    Navbar
  </a>

  <!-- Navbar menu items for larger screens -->
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/job/job-offers" routerLinkActive="active">
          {{ 'Navbar.Menu.JobOffers' | translate }}
        </a>
      </li>
      <li class="nav-item last-menu-item">
        <a class="nav-link" routerLink="/job/companies" routerLinkActive="active">
          {{ 'Navbar.Menu.Companies' | translate }}
        </a>
      </li>
      <li class="nav-item" *ngIf="isMenuItemVisible">
        <a class="nav-link" routerLink="/career-development/test" routerLinkActive="active">
          {{ 'Navbar.Menu.Tests' | translate }}
        </a>
      </li>
      <li class="nav-item" *ngIf="isMenuItemVisible">
        <a class="nav-link" routerLink="/career-development/training" routerLinkActive="active">
          {{ 'Navbar.Menu.Training' | translate }}
        </a>
      </li>
      <li class="nav-item" *ngIf="isMenuItemVisible">
        <a class="nav-link" routerLink="/cv/cv-creation" routerLinkActive="active">
          {{ 'Navbar.Menu.CVCreation' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/sign-up" routerLinkActive="active">
          {{ 'Navbar.Menu.SignUp' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="open(loginContent)">
          {{ 'Navbar.Menu.LogIn' | translate }}
        </a>
      </li>
    </ul>

    <!-- Language Button -->
    <button class="btn btn-dark ms-3 me-3" (click)="changeLanguage()">
      <i class="fa-solid fa-globe"></i>
    </button>
  </div>

  <!-- Toggle button for small screens -->
  <button class="navbar-toggler me-3" type="button" (click)="openOffcanvas(content)">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>

<!-- Navbar menu items for smaller screens -->
<ng-template #content let-offcanvas>

  <div class="offcanvas-header">
    <button type="button" class="btn-close" (click)="closeOffcanvas()"></button>
  </div>

  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/job/job-offers">
          {{ 'Navbar.Menu.JobOffers' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/job/companies">
          {{ 'Navbar.Menu.Companies' | translate }}
        </a>
      </li>
      <li class="nav-item" *ngIf="isMenuItemVisible">
        <a class="nav-link" routerLink="/career-development/test">
          {{ 'Navbar.Menu.Tests' | translate }}
        </a>
      </li>
      <li class="nav-item" *ngIf="isMenuItemVisible">
        <a class="nav-link" routerLink="/career-development/training">
          {{ 'Navbar.Menu.Training' | translate }}
        </a>
      </li>
      <li class="nav-item" *ngIf="isMenuItemVisible">
        <a class="nav-link" routerLink="/cv/cv-creation">
          {{ 'Navbar.Menu.CVCreation' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/sign-up">
          {{ 'Navbar.Menu.SignUp' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="open(loginContent)">
          {{ 'Navbar.Menu.LogIn' | translate }}
        </a>
      </li>
    </ul>
    <button class="btn btn-outline-secondary mt-3" (click)="changeLanguage()">
      {{ 'Navbar.Menu.Language' | translate }}
    </button>
  </div>

</ng-template>

<!-- login modal -->
<ng-template #loginContent let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'Login.Modal.Title' | translate }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
      <p> {{ 'Login.Modal.Body.FirstLine' | translate }} </p>
      <p> {{ 'Login.Modal.Body.SecondLine' | translate }} </p>
      <form>
          <div class="mb-3">
              <label for="inputLoginEmail" class="form-label">
                  {{ 'Login.Modal.Body.Form.EmailLabel' | translate }}
              </label>
              <input type="email" class="form-control" id="inputLoginEmail">
          </div>
          <div class="mb-3">
              <label for="inputLoginPassword" class="form-label"> 
                  {{ 'Login.Modal.Body.Form.PasswordLabel' | translate }}
              </label>
              <input type="password" class="form-control" id="inputLoginPassword">
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="c('Save click')">
          {{ 'Login.Modal.Body.Form.SubmitButton' | translate }}
      </button>
  </div>
</ng-template>