@import '../../../../assets/styles/styles-variables.scss';

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $primary-color;
  color: #ffffff;
}


.nav-link {
  font-size: 18px;
}

.nav-text {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color .35s ease;
  color: $text-color;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .35s ease;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: $text-color;
    transition: width .35s ease;
  }

  &:hover:before {
    width: 100%;
    background: $text-color;
    transition: width .35s ease;
  }

  &:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
  }
}

.profile-picture {
  cursor: pointer;

  img {
    border-radius: 50%;
    background-color: white;
    padding: 2px;
    object-fit: cover;
    width: 40px;
  }
}

.notification {
  .icon {
    cursor: pointer;

    &::after {
      content: none;
    }
  }

  .message {
    cursor: pointer;
    user-select: none;
  }

  .isRead {
    color: $secondary-color;
  }
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.toggle-slot {
  position: relative;
  height: 2em; 
  width: 4em;        
  border: 2px solid #e4e7ec;
  border-radius: 4em;
  background-color: white;
  box-shadow: 0px 3px 6px #e4e7ec;
  transition: background-color 250ms;
}

.toggle-checkbox:checked~.toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(2.3em, 0.35em);
  position: absolute;
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.25em #ffbb52;
  transition: background-color 250ms, transform 400ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked~.toggle-slot .toggle-button {
  background-color: #485367;
  transform: translate(0.2em, 0.2em);
  box-shadow: inset 0px 0px 0px 0.2em white;
}

/* Sun & Moon */
.sun-icon,
.moon-icon {
  height: 1.1em;
  width: 1.1em;
}

.sun-icon {
  color: #ffbb52;
}

.moon-icon {
  color: white;
}

.sun-icon-wrapper,
.moon-icon-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 200ms, transform 400ms cubic-bezier(.26, 2, .46, .71);
}

/* Sun position */
.sun-icon-wrapper {
  left: 0.4em;
  opacity: 1;
}

.toggle-checkbox:checked~.toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translateY(-50%) scale(0.8);
}

/* Moon position */
.moon-icon-wrapper {
  right: 0.4em;
  opacity: 0;
}

.toggle-checkbox:checked~.toggle-slot .moon-icon-wrapper {
  opacity: 1;
}