<div [formGroup]="form" class="row mt-3">
    <!-- Last name -->
    <div class="col-md-6">
        <label for="inputLastName" class="form-label">
            <i class="fa-regular fa-user me-2"></i>
            {{ 'SHARED.FORM-CONTROLS.LABEL.LASTNAME' | translate }}
            @if (isRequired('lastName')) {
            <span class="text-danger">*</span>
            }
        </label>
        <input type="text" class="form-control" id="inputLastName"
            [placeholder]="'SHARED.FORM-CONTROLS.LABEL.LASTNAME' | translate"
            formControlName="lastName" />
        @if ((form.get('lastName')?.invalid && form.get('lastName')?.touched)) {
        <app-error-message [message]="'SHARED.FORM-CONTROLS.VALIDATION.LASTNAME'"></app-error-message>
        }
    </div>
    <!-- First name -->
    <div class="col-md-6">
        <label for="inputFirstName" class="form-label">
            <i class="fa-regular fa-user me-2"></i>
            {{ 'SHARED.FORM-CONTROLS.LABEL.FIRSTNAME' | translate }}
            @if (isRequired('firstName')) {
            <span class="text-danger">*</span>
            }
        </label>
        <input type="text" class="form-control" id="inputFirstName"
            [placeholder]="'SHARED.FORM-CONTROLS.LABEL.FIRSTNAME' | translate"
            formControlName="firstName" />
        @if ((form.get('firstName')?.invalid && form.get('firstName')?.touched)) {
        <app-error-message [message]="'SHARED.FORM-CONTROLS.VALIDATION.FIRSTNAME'"></app-error-message>
        }
    </div>
</div>
