<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'ChangePassword.Modal.Title' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')">
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12">
                <p>{{ 'ChangePassword.Modal.Description' | translate }}</p>
            </div>
        </div>
        <!-- Current password -->
         <div class="row mb-3">
            <div class="col-12">
                <be-password-input [form]="changePasswordForm" [controlName]="'currentPassword'" [label]="'ChangePassword.Modal.Form.CurrentPassword'" />
            </div>
         </div>
        <!-- New Password -->
         <div class="row mb-3">
            <div class="col-12">
                <be-password-input [form]="changePasswordForm" [controlName]="'newPassword'" [label]="'ChangePassword.Modal.Form.NewPassword'" />
            </div>
         </div>
        <!-- Confirm New Password -->
         <div class="row mb-3">
            <div class="col-12">
                <be-password-input [form]="changePasswordForm" [controlName]="'confirmNewPassword'" [label]="'ChangePassword.Modal.Form.ConfirmNewPassword'" />
            </div>
         </div>
         <!-- Submit Button -->
         <div class="row d-flex justify-content-center mb-3">
            <div class="col-6">
                <button type="submit" class="btn btn-primary w-100" [disabled]="isLoading">
                    <i class="me-2" [ngClass]="{'fa fa-spin fa-spinner': isLoading, 'fa-solid fa-lock': !isLoading}"></i>
                    {{ 'ChangePassword.Modal.Form.SubmitButton' | translate }}
                </button>
            </div>
         </div>
    </form>
</div>