@import '../../../../assets/styles/styles-variables.scss';

.empty-list {
    height: 50vh;

    p {
        text-align: center;
    }
}

.card-btn {
    position: absolute;
    cursor: pointer;
    &.update-btn {
        top: 15px;
        right: 60px;
    }
    &.delete-btn {
        top: 15px;
        right: 20px;
    }
    &:hover {
        color: $secondary-color;
    }
}