@import '../../../../assets/styles/styles-variables.scss';

#job-list-container {
    height: 84vh;
    overflow-y: scroll;

    // ::-webkit-scrollbar: Styles the overall scrollbar (e.g., width, background).
    // ::-webkit-scrollbar-track: Styles the track (the area the thumb slides along).
    // ::-webkit-scrollbar-thumb: Styles the thumb (the part that you drag to scroll).
    &::-webkit-scrollbar {
        width: 5px;
        background-color: $text-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border: 2px solid $primary-color;
    }

    &::-webkit-scrollbar-track {
        background-color: $primary-color;
    }
}

#job-details-container {
    position: sticky;
    border-radius: 6px;
    height: 84vh;
    padding: 20px;
    background-color: $secondary-color;
    border: 0.606061px solid rgba(0, 0, 0, 0.176);
}

.button-group {
    display: flex;
    gap: 10px;
}

.accordion-header .accordion-button {
    
    background-color: unset;
    box-shadow: unset;
    &:focus {
        box-shadow: unset;
    }
}