<div class="container mt-5">
    <!-- 1st row : Search Form  -->
    <div class="row justify-content-center align-items-center mb-4">
        <!-- 1st Input : Search with keyword -->
        <div class="col-md-4 col-sm-10 mb-3 mb-md-0">
            <div class="input-with-icon input-group">
                <span class="input-group-text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input type="text" class="form-control" [placeholder]="'JobOffers.SearchOffersInput' | translate"
                    aria-label="search: Job title, keywords, or company">
            </div>
        </div>
        <!-- 2nd Input: Search location -->
        <div class="col-md-4 col-sm-10">
            <div class="input-with-icon input-group">
                <span class="input-group-text">
                    <i class="fa-solid fa-location-dot"></i>
                </span>
                <input type="text" class="form-control" [placeholder]="'JobOffers.WhereInput' | translate"
                    aria-label="search: Job title, keywords, or company">
            </div>
        </div>
    </div>
    <!-- 2nd Row : list & details of job offers -->
    <div class="row">
        <div class="col-12 col-md-4 me-2 pe-0" id="job-list-container" *ngIf="!isMobileView || !showDetailsOnMobile">
            <app-job-list (jobOfferSelected)="onJobOfferSelected($event)" [isMobileView]="isMobileView"></app-job-list>
        </div>
        @if (isMobileView && showDetailsOnMobile) {
            <div class="button-group mb-2">
                <button class="btn btn-primary"(click)="showDetailsOnMobile = false">
                    <i class="fa-solid fa-circle-left me-2"></i> {{ 'JobOffers.BackToList' | translate }}
                </button>
                @if (this.canApply) {
                    <div class="ms-auto d-flex gap-2">
                        <button class="btn btn-primary">
                            @if (isSaving) {
                                <i class="fa fa-spin fa-spinner"></i>
                            } @else { 
                                {{ 'JobOffers.JobDetails.Apply' | translate }}
                            }
                        </button>
                        <button class="btn btn-primary">
                            <i class="fa-regular fa-bookmark"></i>
                        </button>
                    </div>
                }
            </div>
        }
        @if (selectedJobOffer && (!isMobileView || showDetailsOnMobile)) {
            <div class="col-12 col-md-7" id="job-details-container">
                <app-job-details [jobOffer]="selectedJobOffer" [isMobileView]="isMobileView"></app-job-details>
            </div>
        }
    </div>
</div>