<div [formGroup]="form" class="row mt-3">
    
    <div class="col-md-12">

        <label class="form-label" [for]="id">
             @if(hasIcon) {
            <i [class]="getIconClass()"></i>
            }
            {{ label | translate }}
            @if (isRequired()) {
            <span class="text-danger">*</span>
            }
        </label>
        
        <textarea [ngStyle]="{'height': height }" class="form-control" [placeholder]="placeholder" [id]="id" [formControlName]="controlName" ></textarea>


        @if ((form.get(controlName)?.invalid && form.get(controlName)?.touched)) {
            <app-error-message [message]="errorMessageKey" />
        }
    </div>
    
</div>
