<div [formGroup]="form">
    
    <label class="form-label" [for]="id">
            @if(hasIcon) {
        <i [class]="getIconClass()"></i>
        }
        {{ label | translate }}
        @if (isRequired()) {
        <span class="text-danger">*</span>
        }
    </label>
    
    <textarea [ngStyle]="{'height': height }" class="form-control" [placeholder]="placeholder | translate" [id]="id" [formControlName]="controlName" ></textarea>


    @if ((form.get(controlName)?.invalid && form.get(controlName)?.touched)) {
        <app-error-message [message]="errorMessageKey" />
    }
    
</div>
