.profile-picture-section {
    img {
        max-width: 100px;
        height: auto;
        border-radius: 50%;
    }
}

ngx-intl-tel-input {
    display: block;
}

::ng-deep ngx-intl-tel-input .iti__country-list {
    max-height: 200px;
    /* Adjust dropdown height */
    overflow-y: auto;
}