<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'Talent.EditProfile.Title' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            @if (isLoading) {
            <div class="loading-spinner">
                <div class="spinner-border">
                </div>
            </div>
            } @else {
            <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
                <!-- Profile title -->
                <div class="row mt-3">
                    <div class="col-md-12 profile-picture-section">
                        <p>
                            <b>
                                {{ 'Talent.EditProfile.ProfilePicture' | translate }}
                            </b>
                        </p>

                        <div>
                            <img [src]="profilePicture" class="img-thumbnail mb-2">

                            <!-- Custom button to trigger file input -->
                            <button type="button" class="btn btn-primary btn-md mt-2 ms-3 me-3"
                                (click)="fileInput.click()">
                                {{ 'Talent.EditProfile.ChoosePicture' | translate }}
                            </button>

                            <!-- Button to remove current image -->
                            <button type="button" class="btn btn-danger btn-md mt-2" (click)="removeImage()"
                                *ngIf="profilePicture && !defaultProfilePicture">
                                {{ 'Talent.EditProfile.Remove' | translate }}
                            </button>

                            <!-- Hidden file input element -->
                            <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
                        </div>

                    </div>
                </div>
                <!-- Full name  -->
                <div class="row mt-3">
                    <!-- First name -->
                    <div class="col-md-6">
                        <label for="inputFirstName" class="form-label">
                            {{ 'Talent.EditProfile.FirstName' | translate }}
                        </label>
                        <input type="text" class="form-control" id="inputFirstName" formControlName="firstName">
                        @if ((profileForm.get('firstName')?.invalid && profileForm.get('firstName')?.touched)) {
                        <div class="text-danger">
                            {{ 'Talent.EditProfile.Validation.FirstName' | translate }}
                        </div>
                        }
                    </div>
                    <!-- Last name -->
                    <div class="col-md-6">
                        <label for="inputLastName" class="form-label">
                            {{ 'Talent.EditProfile.LastName' | translate }}
                        </label>
                        <input type="text" class="form-control" id="inputLastName" formControlName="lastName">
                        @if ((profileForm.get('lastName')?.invalid && profileForm.get('lastName')?.touched)) {
                        <div class="text-danger">
                            {{ 'Talent.EditProfile.Validation.LastName' | translate }}
                        </div>
                        }
                    </div>
                </div>
                <!-- Profile title -->
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="inputProfileTitle" class="form-label">
                            {{ 'Talent.EditProfile.ProfileTitle' | translate }}
                        </label>
                        <input type="text" class="form-control" id="inputProfileTitle" formControlName="profileTitle">
                    </div>
                </div>
                <!-- Summary -->
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="inputSummary" class="form-label">
                            {{ 'Talent.EditProfile.Summary' | translate }}
                        </label>
                        <textarea rows="5" class="form-control" id="inputSummary" formControlName="summary"></textarea>
                    </div>
                </div>
                <!-- Email -->
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="inputEmail" class="form-label">
                            {{ 'Talent.EditProfile.Email' | translate }}
                        </label>
                        <input type="email" class="form-control" id="inputEmail" formControlName="email">
                    </div>
                </div>
                <!-- Date of birth -->
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="inputDateOfBirth" class="form-label">
                            {{ 'Talent.EditProfile.DateOfBirth' | translate }}
                        </label>
                        <div class="datepicker-input input-group">
                            <input class="form-control" bsDatepicker [bsConfig]="bsConfig" id="inputDateOfBirth"
                                placeholder="yyyy-mm-dd" formControlName="dateOfBirth" />
                            <span class="input-group-text">
                                <i class="fa-regular fa-calendar-days"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <!-- Address -->
                    <div class="col-md-6">
                        <label for="inputAddress" class="form-label">
                            {{ 'Talent.EditProfile.Address' | translate }}
                        </label>
                        <input type="text" class="form-control" id="inputAddress" formControlName="address">
                    </div>
                    <!-- Phone -->
                    <div class="col-md-6">
                        <label for="inputPhone" class="form-label">
                            {{ 'Talent.EditProfile.Phone' | translate }}
                        </label>
                        <ngx-intl-tel-input [cssClass]="'form-control'" [enableAutoCountrySelect]="false"
                            [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                            [onlyCountries]="[CountryISO.Canada, CountryISO.France, CountryISO.Tunisia ]"
                            [selectFirstCountry]="false" [selectedCountryISO]="selectedCountryISO" [maxLength]="15"
                            [phoneValidation]="true" name="phone" formControlName="phone" id="inputPhone"
                            (countryChange)="onCountryChange()">
                        </ngx-intl-tel-input>
                        @if ((profileForm.get('phone')?.invalid && profileForm.get('phone')?.touched)) {
                        <div class="text-danger">
                            {{ 'Talent.EditProfile.Validation.PhoneNumber' | translate }}
                        </div>
                        }
                    </div>
                </div>
                <!-- Full Address -->
                <div class="row mt-3">
                    <!-- City -->
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">
                            {{ 'Talent.EditProfile.City' | translate }}
                        </label>
                        <input type="text" class="form-control" id="inputCity" formControlName="city">
                    </div>
                    <!-- State -->
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">
                            {{ 'Talent.EditProfile.State' | translate }}
                        </label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <!-- Zip -->
                    <div class="col-md-2">
                        <label for="inputZip" class="form-label">
                            {{ 'Talent.EditProfile.Zip' | translate }}
                        </label>
                        <input type="text" class="form-control" id="inputZip" formControlName="zip">
                    </div>
                </div>
                <!-- Save button -->
                <div class="row mt-3">
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary w-25" [disabled]="isSaving">
                            <i class="me-2"
                                [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-floppy-disk': !isSaving }"></i>
                            {{ 'Button.Save' | translate }}
                        </button>
                    </div>
                </div>
            </form>
            }
        </div>
    </div>
</div>