<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        {{ 'Talent.EditProfile.Title' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss('Cross click')"></button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            @if (isLoading) {
            <!-- Spinner -->
            <app-loader/>
            } @else {
            <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
                <!-- Line 1: Profile picture -->
                <div class="row mt-3">
                    <div class="col-md-12 profile-picture-section">
                        <p>
                            <b>
                                {{ 'Talent.EditProfile.ProfilePicture' | translate }}
                            </b>
                        </p>

                        <div>
                            <img [src]="profilePicture" class="img-thumbnail mb-2">

                            <!-- Custom button to trigger file input -->
                            <button type="button" class="btn btn-primary btn-md mt-2 ms-3 me-3"
                                (click)="fileInput.click()">
                                <i class="fa-regular fa-image me-2"></i>
                                {{ 'Talent.EditProfile.ChoosePicture' | translate }}
                            </button>

                            <!-- Button to remove current image -->
                            <button type="button" class="btn btn-danger btn-md mt-2" (click)="removeImage()"
                                *ngIf="profilePicture && !defaultProfilePicture">
                                <i class="fa-regular fa-trash-can me-2"></i>
                                {{ 'Talent.EditProfile.Remove' | translate }}
                            </button>

                            <!-- Hidden file input element -->
                            <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
                        </div>

                    </div>
                </div>
                <!-- Line 2: Full name -->
                <div class="row mt-3">
                    <app-full-name-input [form]="profileForm">
                    </app-full-name-input>
                </div>
                <!-- Line 3: Profile title -->
                <div class="row mt-3">
                    <!-- Profile title -->
                    <div class="col-md-12">
                        <label for="inputProfileTitle" class="form-label">
                            {{ 'Talent.EditProfile.ProfileTitle' | translate }}
                        </label>
                        <input type="text" class="form-control" id="inputProfileTitle" formControlName="profileTitle">
                    </div>
                </div>
                <!-- Line 4: Summary -->
                <div class="row mt-3">
                    <!-- Summary -->
                    <div class="col-md-12">
                        <label for="inputSummary" class="form-label">
                            {{ 'Talent.EditProfile.Summary' | translate }}
                        </label>
                        <textarea rows="5" class="form-control" id="inputSummary" formControlName="summary"></textarea>
                    </div>
                </div>
                <!-- Line 5: Email/Website/LinkedIn-->
                <div class="row mt-3">
                    <!-- Email -->
                    <div class="col-md-4">
                        <app-email-input [form]="profileForm"></app-email-input>
                    </div>
                    <!-- WebSite -->
                    <div class="col-md-4 mt-3">
                         <div class="form-floating">
                            <input type="text" class="form-control" id="inputWebsite" placeholder="website"
                                formControlName="website">
                            <label for="inputWebsite" class="form-label">
                                <i class="fa-solid fa-link me-2"></i>
                                {{ 'Talent.EditProfile.Website' | translate }}
                            </label>
                        </div>
                        @if ((profileForm.get('website')?.invalid && profileForm.get('website')?.touched)) {
                        <app-error-message [message]="'Talent.EditProfile.Validation.Website'"></app-error-message>
                        }
                    </div>
                    <!-- LinkedIn -->
                    <div class="col-md-4">
                        <label for="inputLinkedIn" class="form-label">
                            {{ 'Talent.EditProfile.LinkedIn' | translate }}
                        </label>
                        <input type="text" class="form-control" id="inputLinkedIn" formControlName="linkedIn">
                        @if ((profileForm.get('linkedIn')?.invalid && profileForm.get('linkedIn')?.touched)) {
                            <app-error-message [message]="'Talent.EditProfile.Validation.LinkedIn'"></app-error-message>
                        }
                    </div>
                </div>
                <!-- Line 6: Date of birth & Phone-->
                <div class="row mt-3">
                    <!-- Date of birth -->
                    <div class="col-md-6">
                        <label for="inputDateOfBirth" class="form-label">
                            {{ 'Talent.EditProfile.DateOfBirth' | translate }}
                        </label>
                        <div class="datepicker-input input-group">
                            <input class="form-control" bsDatepicker [bsConfig]="bsConfig" id="inputDateOfBirth"
                                placeholder="yyyy-mm-dd" formControlName="dateOfBirth" />
                            <span class="input-group-text">
                                <i class="fa-regular fa-calendar-days"></i>
                            </span>
                        </div>
                    </div>
                    <!-- Phone -->
                    <div class="col-md-4">
                          <app-phone-input [form]="profileForm">
                        </app-phone-input>
                    </div>
                </div>
                <!-- Line 7: Address -->
                <div class="row mt-3">
                    <h4>Address</h4>
                    <!-- Country -->
                    <div class="col-md-4">
                        <label for="inputCountry" class="form-label">
                            {{ 'Talent.EditProfile.Country' | translate }}
                        </label>
                        <select id="inputCountry" class="form-select" (change)="onCountrySelect($event)"
                            formControlName="country">
                            <option *ngIf="!profileForm.get('country')?.value" value="" selected>
                                {{ 'Talent.EditProfile.ChooseCountry' | translate }}
                            </option>
                            <option *ngFor="let country of countries" [value]="country.code">
                                {{ country.name }}
                            </option>
                        </select>
                    </div>
                    <!-- Region -->
                    <div class="col-md-4">
                        <label for="inputRegion" class="form-label">
                            {{ 'Talent.EditProfile.Region' | translate }}
                        </label>
                        <select id="inputRegion" class="form-select" (change)="onRegionSelect($event)"
                            formControlName="region">
                            <option [value]="null" selected>
                                {{ 'Talent.EditProfile.ChooseRegion' | translate }}
                            </option>
                            <option *ngFor="let region of regions" [value]="region.geonameId">
                                {{ region.toponymName }}
                            </option>
                        </select>
                    </div>
                    <!-- City -->
                    <div class="col-md-4">
                        <label for="inputCity" class="form-label">
                            {{ 'Talent.EditProfile.City' | translate }}
                        </label>
                        <select id="inputCity" class="form-select" formControlName="city">
                            <option [value]="null" selected>
                                {{ 'Talent.EditProfile.ChooseCity' | translate }}
                            </option>
                            <option *ngFor="let city of cities" [value]="city.geonameId">
                                {{ city.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Line 8: Buttons -->
                <div class="row mt-3">
                    <!-- Save button -->
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary w-25" [disabled]="isSaving">
                            <i class="me-2"
                                [ngClass]="{'fa fa-spin fa-spinner': isSaving, 'fa-solid fa-floppy-disk': !isSaving }"></i>
                            {{ 'Button.Save' | translate }}
                        </button>
                    </div>
                </div>
            </form>
            }
        </div>
    </div>
</div>